[2015-04-14 22:38] louiscryan opened #1 "Assumption of 'proto' subdir is too restrictive"
Plugin assumes proto files are contained in a directory called 'proto' under src/main. This is quite restrictive and other conventions are in active use E.g.

https://github.com/apache/hbase/tree/master/hbase-protocol/src/main/protobuf

This is a clone of
https://github.com/aantono/gradle-plugin-protobuf/issues/24

[2015-04-22 22:13] cmarkuck opened #3 "Could not find method protobuf() for arguments [file collection]"
I'm not sure what I'm doing wrong but I'm getting the following error with the plugin.

"Could not find method protobuf() for arguments [file collection]"

I'm also getting the above error when running gradle in the test project.

[2015-04-23 02:43] #3 closed

[2015-04-24 21:07] #1 closed

[2015-04-25 00:48] zhangkun83 opened #4 "Integrate protoSources into sourceSets"
A more Gradlely alternative to ``protoSources`` convention:
[code]

Take a look at [GroovyBasePlugin](https://github.com/gradle/gradle/blob/eb4d045f12dab4fa12a7da7ee99b6a70fe024a66/subprojects/plugins/src/main/groovy/org/gradle/api/plugins/GroovyBasePlugin.java#L83)

[2015-04-28 23:28] #4 closed

[2015-04-30 21:23] ejona86 opened #6 "Support protoc plugin options"
Plugins sometimes support parameters by passing semicolon-delimited options before the output file name of the out paramater passed to protoc.

Nano for Java [uses this heavily](https://github.com/google/protobuf/tree/master/javanano#to-use-nano-protobufs-outside-of-android-repo). To use Nano with gRPC you also need to add [nano=true](https://github.com/grpc/grpc-java/tree/master/compiler).

We ne

[2015-05-01 16:48] zhangkun83 commented on #6
In the example parameters are coma-delimited. Is it the case?

There are two features to be added:

1. Allow generating nano messages by adding ``--javanano_out``. Potentially you may use ``-javanano_out`` and ``--java_out`` at the same time, but I don't know whether it's useful.
2. Allow adding parameters to any of the ``--*_out`` flag

[2015-05-01 16:49] zhangkun83 commented on #6
@madongfly

[2015-05-01 16:51] ejona86 commented on #6
@zsurocking

[2015-05-01 18:16] zhangkun83 commented on #6
Here is the interface in my mind:

1. Options are per-sourceSet, so you can configure a sourceSet to generate normal Java, and another sourceSet to generate nano.
2. It seems natural (and more flexible) to me to allow a sourceSet to specify the plugins it wants to apply. By default no plugin is applied. ``protobufCodeGenPlugins`` and ``protobufNativeCodeGenPluginDeps`` will define the plugin artif

[2015-05-04 11:07] mmmdreg opened #8 "Support protoc --proto_path"
When you define protos importing definitions from another project, protoc --proto_path=blah allows you to depend on these without re-compiling them.

In your plugin, adding another srcDir will compile the dependent protos, resulting in duplicates in a multi module project. The maven proto plugin correctly adds dependent protos to the include path without compiling them,  as does the Thomas lee gra

[2015-05-07 22:37] #6 closed

[2015-05-08 17:50] zhangkun83 commented on #8
Such functionality is necessary. I am a little struggling on how it should be provided.

Conceptually it is a compile-time dependency for ``protoc`` compilation. The ``dependencies`` block sounds the proper place for it. However, the current plugin already allows you to specify dependencies for a source set, and the dependent protos will not only be included in ``--proto_path``, but also be compil

[2015-05-08 18:40] ejona86 commented on #8
In earlier discussion with protobuf team I suggested we primarily provide this functionality through deps in maven central, like JARs with the protos inside. I've not looked at the suggested config yet.

[2015-05-08 23:22] zhangkun83 commented on #8
For this use case we actually want to compile the protos from the JARs, which is what the plugin is doing right now.

@mmmdreg can you point me to a project that would benefit from this feature? This would help me decide what the best solution is.

[2015-05-09 18:31] ejona86 opened #9 "InvalidUserDataException thrown without any details"
[InvalidUserDataException message](https://github.com/google/protobuf-gradle-plugin/blob/master/src/main/groovy/com/google/protobuf/gradle/ProtobufCompile.groovy#L136) should say that protoc failed.

In my particular case, the dynamic linker failed because of [libc issues](https://github.com/google/protobuf/issues/354).

It seems like the missing message could be caused by not calling waitForProce

[2015-05-11 03:24] mmmdreg commented on #8
It's internal so I can't share specifics but a simplified form looks like:

SharedProject
- src/main/java
- src/main/proto

DependentProject1 (swing client)
- src/main/java
- src/main/proto

DependentProject2 (swing client)
- src/main/java
- src/main/proto

PackagedProject (Java applet)
-- creates package out of the above 3.

The protos in the dependent projects import some protos from the shared

[2015-05-12 16:50] ejona86 commented on #8
But I'm saying we want the _import_ from deps on Maven Central. Also, I didn't think the current _compile_ from JAR supported building with JAR on Maven Central; does it?

[2015-05-12 23:23] zhangkun83 commented on #8
The dependencies API supports pulling from Maven Central. Not sure if the way the plugin [uses the API](https://github.com/google/protobuf-gradle-plugin/blob/master/src/main/groovy/com/google/protobuf/gradle/ProtobufExtract.groovy#L47) pulls artifacts. If not, it should be trivial to make it do so.

[2015-05-12 23:41] #9 closed

[2015-05-12 23:58] ejona86 commented on #8
So how do we see someone using importDir along with a JAR dependency?

[2015-05-13 11:28] cinnamon25 opened #11 "Does not work with android plugin"
This plugin does not work with the android plugin for gradle, since it applies the java plugin.

[2015-05-13 15:55] ejona86 commented on #11
Try adding `remove java` within the `builtins` section.

[2015-05-17 17:25] richburdon opened #12 "Support protoc ---python_out"
Some projects are cross platform.

[2015-05-17 18:14] richburdon opened #13 "Setting an output directory"
"python" below sets the python_out flag; but how do you assign a value?
e.g., python_out=$buildDir/generated-sources/main/python

[code]

[2015-05-17 23:03] richburdon commented on #12
python is supported, but setting the path has issues: https://github.com/google/protobuf-gradle-plugin/issues/13

[2015-05-17 23:03] #12 closed

[2015-05-18 14:58] AstralStorm commented on #11
Same issue, that remove java is not the problem nor fixes it.

The problem is here: https://github.com/google/protobuf-gradle-plugin/blob/master/src/main/groovy/com/google/protobuf/gradle/ProtobufPlugin.groovy#L70

This protobuf plugin just does not support android plugin.

[2015-05-18 15:32] zhangkun83 commented on #13
The value should have been set to the default output directory, which is ``$buildDir/generated-sources/main/python``. Do you want to set it to somewhere else? Why do you want to do that?

[2015-05-20 01:20] zhangkun83 commented on #11
The problem with the android plugin is more than just that it cannot be applied when the java plugin has already been applied. The android project is structured differently from a java project.

[Here](https://github.com/zhangkun83/protobuf-gradle-plugin/blob/0fdd127e245dbf7725e9731e55759e353d5c4882/testProjectAndroid/build.gradle) I managed to get the nano protos compiled in an android project. I

[2015-05-20 17:31] richburdon commented on #13
No, g-s/main/python would be ideal, but currently both my java and python are dumped into g-s/main

Also, is there a standard for building a python package? I don't want to put my setup.py in build/... and if I specify package_dir to the generated directory then the packaged files have the generated-sources prefix.

[2015-05-20 17:39] richburdon commented on #13
See https://github.com/google/protobuf-gradle-plugin/blob/master/src/main/groovy/com/google/protobuf/gradle/ProtobufCompile.groovy#L112

[2015-05-20 17:59] zhangkun83 commented on #13
Sorry I was wrong. The default output directory is in fact ``$buildDir/generated-sources/main``. The plugin  was originally created for java projects only. Extending its ability to build non-java project is an interesting topic. For now, it might not hurt to provide an option for output directory in the builtins.

[2015-05-20 18:04] richburdon commented on #13
Yes -- one of the many purposes of protobuf is to be cross-platform/language so, that would be good. I think the right behavior would be to append $builtin.name (i.e., to mirror src/main/{java|python}), but I guess that would change the current behavior -- unless that only happens if multiple languages are detected?

Also, do you have any thoughts on the packaging problem? I.e., setup.py having to

[2015-05-20 18:31] keyscores commented on #13
+1 for @richburdon 's issue. Would be nice to deal with hybrid environments better.

[2015-05-21 01:12] zhangkun83 commented on #11
One more android plugin quirk gets in my way.

I tried to have the protobuf plugin to call ``android.sourceSets.<sourceSet>.java.srcDir`` to add generated sources, just like what we have been doing with java plugin. This can only be done in the ``project.afterEvaluate`` hook because only at that point have the proto source sets been evaluated. However, it just doesn't work. It seems the android pl

[2015-05-21 01:27] zhangkun83 commented on #11
Anyway, although putting everything in ``sourceSets`` along with the java sources looks very nice from user's aspect, I have been uncomfortable with the fact that the implementation uses Gradle internal API and undocumented internal features. It is very fragile.

[2015-05-22 18:36] zhangkun83 opened #14 "Organize the options better"
Most of the options are exposed as top-level conventions, which pollutes the project name space and doesn't read well. We'd like them to be better organized, possibly put them under a big top-level ``protobuf {}`` block and use a more Gradle-ly style, e.g., change
[code]
to
[code]

[2015-05-27 23:55] zhangkun83 commented on #13
@haberman - since you work on Python Protobuf, could you help on answering this question?

[2015-05-28 02:42] zhangkun83 commented on #8
@mmmdreg ideally ``DependentProject1`` and ``DependentProject2`` would automatically include the proto source dirs from their depended project``SharedProject`` in their ``--proto_path``. If that's feasible, you won't need an interface for it.

[2015-05-28 05:09] mmmdreg commented on #8
I think the issue was the build of the dependent projects is including the artifacts (ie compiled Java) from the shared project, so adding to the proto_path and compiling them again will mean duplicate classes as well as wasted effort. It's possible to exclude these duplicates but that seems unnecessary too.

Maven proto plugin by default adds proto definitions in any maven dependencies to the inc

[2015-05-28 05:19] zhangkun83 commented on #8
I thought adding the proto directories of the shared project to the dependent projects' ``--proto_path`` would allow you to compile the dependent projects' proto files, which may import proto files from the shared project, without re-compiling the proto files from the shared project. Is it the case?

[2015-05-28 05:30] mmmdreg commented on #8
Oh right, misread your post. That's exactly right. :)

[2015-05-28 23:22] zhangkun83 opened #15 "If a Java dependency jar contains proto files, should extract them and add the extracted dir to --proto_path"
The Protobuf release jars contain proto files for well-known types. The user may import these types in their own proto files, thus the well-known type proto files should be under a directory included in ``--proto_path``.

[maven-protoc-plugin](http://sergei-ivanov.github.io/maven-protoc-plugin/usage.html) is already doing so.

[2015-05-29 06:48] Xorlev opened #16 "generatedFileDir does not follow Gradle Java Plugin conventions (nor can you)"
In the plugin, generatedSourceDir is [always set](https://github.com/google/protobuf-gradle-plugin/blob/e5067815b30ebe2ec91dc71f7f1525a530ac3053/src/main/groovy/com/google/protobuf/gradle/ProtobufPlugin.groovy#L240-L243) to `${generatedSourceDir}/${sourceSet.name}`.

Given `generatedFileDir = "${projectDir}/src"`, this dumps the compiled sources into `subproject/src/main/com/test` vs. a more canon

[2015-06-01 16:33] zhangkun83 commented on #16
This is a duplicate of #13. I think it makes sense to let ``java_out`` to be ``${project.projectDir}/src/${sourceSet.name}/java``.

Then ``javanano_out`` to be ``${project.projectDir}/src/${sourceSet.name}/javanano``, and ``grpc_out`` to be ``${project.projectDir}/src/${sourceSet.name}/grpc``?

[2015-06-01 17:14] ejona86 commented on #16
This actually looks like something the user should be able to configure to be something else. We can by default put it some place, but it should be able to be overridden.

[2015-06-12 13:32] richburdon commented on #13
@zhangkun83 any thoughts here? I can patch to correct this, but would appreciate some thoughts on how to deal with legacy issues. The build tools should assume a standard file layout -- especially in the case of cross-platform technologies like protobuf.

My proposal: each xxx_out should be able to specify a different output directory.

[2015-06-12 14:08] debasish-raychawdhuri commented on #16
It not only looks bad, but also causes problem in setting up directory structure when sourceSet.name is artificially added to it. Gradle default practice is to have a java directory inside its source set, but its impossible use that structure currently.

[2015-06-12 15:39] zhangkun83 commented on #13
@richburdon I am current working on a redesign of the plugin DSL for 0.5.0, which will support the kind of configuration you have proposed.

[2015-06-19 18:44] zhangkun83 commented on #13
TL; DR: I am working on the new version of the plugin. I thought I would be able to allow customizing the directory for each builtin/plugin, but it turns out almost impossible due to constraints from Android build model. I am thinking about separating the outputs per builtin/plugin as previously suggested, but not allowing customizing them. Would that suffice?

The full story: Android projects are

[2015-06-19 18:55] richburdon commented on #13
I think the approach you're intending is optimal (i.e., fixed outputs per
language: java/python, etc.)

When can I try it? :)

On Fri, Jun 19, 2015 at 2:44 PM Kun Zhang <notifications@github.com> wrote:

[2015-06-19 23:13] zhangkun83 commented on #13
I am currently coding it :). Hopefully I can check it in in a week or two.

[2015-06-19 23:29] zhangkun83 commented on #16
I am working on a new version that will change the default output path to ``"$buildDir/generated/source/proto/$sourceSet/$name"``, where ``$name`` is ``java``, ``python`` etc. This will align with Gradle default practice. I will possibly make the prefix, i.e., ``"$buildDir/generated/source/proto/"`` configurable through a property named ``generatedBaseDir`` if desired.

[2015-06-19 23:53] zhangkun83 commented on #16
@ejona86 Allow overriding the outputDir on the codegen plugin or task granularity is hard to implement correctly (see https://github.com/google/protobuf-gradle-plugin/issues/13#issuecomment-113603639). So far, people have been just wanting that generated files of different codegen plugins can be in separate directories, which doesn't require fine-grained customization.

[2015-06-19 23:58] ejona86 commented on #16
@zhangkun83, how will we commit code generated code? https://github.com/grpc/grpc-java/blob/master/build.gradle#L60

[2015-06-20 00:22] zhangkun83 commented on #16
@ejona86 this is a use case for customizing the base dir, which we can still support.

[2015-06-22 22:15] brunobowden opened #18 "google/protobuf-gradle-plugin is forked from personal repo and unsearchable"
@aantono

It's currently impossible to search the protobuf-gradle-plugin directory as it's a parent of @aantono's public directory - this is a limitation of GitHub (see screenshot below). By following the help system, you can make a request to GitHub to remove this as a parent. I've done this before successfully by making the request, so it does work. This will be helpful for two reasons:

1. A Go

[2015-06-22 22:16] brunobowden commented on #18
It doesn't look like any of the other repo's have a parent, so @aantono, it may work to delete your personal repository then recreate it by forking from the public Google project.

[2015-06-22 23:55] zhangkun83 commented on #16
Let's move discussions to #13

[2015-06-22 23:55] #16 closed

[2015-06-26 17:41] AstralStorm commented on #11
What about com.android.library?

[2015-06-26 17:44] zhangkun83 commented on #11
So, this was unintentionally closed. I have checked in a comprehensive solution for Android, which should  work for both library and application. It will be released as 0.5.0. Soon I will create a release branch for it, and update README in there.

[2015-06-30 00:21] zhangkun83 commented on #11
I have created the [v0.5.x](https://github.com/google/protobuf-gradle-plugin/tree/v0.5.x) branch. Please follow its README and try it out. You may want to refer to [testProjectAndroid](https://github.com/google/protobuf-gradle-plugin/tree/v0.5.x/testProjectAndroid) as a working example for Android.

@madongfly

[2015-06-30 00:27] zhangkun83 commented on #13
@richburdon @Xorlev I have created branch for the next version [v0.5.x](https://github.com/google/protobuf-gradle-plugin/tree/v0.5.x). It puts the generated code under ``"$buildDir/generated/source/proto/$sourceSet/$name"``.

It has not been released to repositories, so you have to build it and install it locally. Please follow the README on how to do it. Feedback is appreciated.

[2015-06-30 04:00] caxton opened #20 "Error:The 'java' plugin has been applied, but it is not compatible with the Android plugins"
I simply added protobuf setting in build.gradle, and got the error "Error:The 'java' plugin has been applied, but it is not compatible with the Android plugins".

(Android Studio version 1.2.2).

build.gradle:
[code]

[2015-06-30 18:33] ejona86 commented on #20
Issue #11 is for not working with the android plugin. You can follow that issue for learning about the progress in fixing the problem.

[2015-06-30 18:33] #20 closed

[2015-07-01 01:21] Shad0w1nk opened #21 "Support for the native project (C++)"
Gradle now support native compilation (C++) and it would be great if this plugin could natively support this. The big problem is how the native project differ from the java project in Gradle. However, I'm confident that we can find a way to support both at the same time with minimal code duplication. I'm willing to help on this contribution but some guideline on the roadmap of this plugin would be

[2015-07-01 03:16] zhangkun83 commented on #21
The current focus is supporting Android projects (#11). It is a major refactoring of the codebase. Please take a look and share any thoughts about we can move from that to C++ support.

Looking at the [native component model](https://docs.gradle.org/current/userguide/nativeBinaries.html), I imagine that we have one protoc run per component, and the generated files are added to the cpp sources of t

[2015-07-01 04:43] caxton opened #22 "Error:(4, 0) Cause: com/google/protobuf/gradle/ProtobufPlugin : Unsupported major.minor version 52.0"
Environment:

Android Studio: 1.2.2
Gradle version: 2.2.1
Android plugin version: 1.1.0
jdk version: java-7-openjdk-amd64

build.gradle:

apply plugin: 'com.android.application'
apply plugin: 'com.google.protobuf'

buildscript {
    repositories {
        maven {
            url 'https://oss.sonatype.org/content/repositories/snapshots/'
        }
        jcenter()
        mavenLocal()
        mave

[2015-07-01 07:11] zhangkun83 commented on #22
It must be because the artifact was compiled with Java 8 without a target compatibility option. I need to add a ``targetCompatibility = 1.6`` so that future releases support down to JDK6.

That said, none of the released versions support Android, so you will have to build and install the [0.5.x dev branch](https://github.com/google/protobuf-gradle-plugin/tree/v0.5.x) locally to get Android support

[2015-07-01 12:44] Shad0w1nk commented on #21
That sounds about right. There are some little things that C++ world may want.

For instance, the generated C++ files creates warning when the warning level is at the highest. One way we solve this was to disable the warning directly in the generated C++ files by appending/prepending #pragma warning(...). This could be solve in lots of different ways: fixing protoc, adding a feature to Gradle in o

[2015-07-01 16:14] #22 closed

[2015-07-01 23:01] zhangkun83 commented on #21
Please take a look at [CONTRIBUTING.md](https://github.com/google/protobuf-gradle-plugin/blob/master/CONTRIBUTING.md) before contributing code. Most importantly, please make sure to sign the [CLA](https://cla.developers.google.com/about/google-individual) before making any pull requests.

You shouldn't have much trouble in the first step. With regarding to sharing proto between component and proje

[2015-07-01 23:54] zhangkun83 opened #23 "Incremental build seems not working"
I encountered an issue where I built a project once, which failed because an error in a proto file, I then fixed the proto file and tried to build it again (without clean), and the proto file was not re-compiled.

[2015-07-01 23:55] ejona86 commented on #23
I am 99% sure that is because we changed the proto dependency. Gradle doesn't detect that we changed our dependency and thus it wasn't rebuilt. I think this is just a Gradle limitation and not much can/should be done from our end.

[2015-07-02 00:29] zhangkun83 commented on #23
This is a different issue, not related to dependencies.

[2015-07-05 02:14] manvelavetisian commented on #11
I had manually add dependency to protobuf-nano:

dependencies {
    compile 'com.google.protobuf.nano:protobuf-javanano:3.0.0-alpha-3.1'
}

[2015-07-05 04:17] manvelavetisian commented on #11
It would be nice to be able to use javanano generated code with java projects and java generated code with android projects though. If I add
        all()*.builtins {
            java {
            }
        }

then it ends up generating both java and javanano classes and compilation fails because it finds duplicate classes.

[2015-07-05 08:06] zhangkun83 commented on #11
@manvelavetisian The ``java`` builtin is added automatically in Java projects, and so is ``javanano`` in Android projects. If you want ``java`` builtin instead in an Android project, you need to remove ``javanano`` explicitly:
[code]

[2015-07-06 23:08] zhangkun83 commented on #11
0.5.0 has been released. Please refer to the instructions from the master README.

[2015-07-06 23:08] #11 closed

[2015-07-06 23:08] zhangkun83 commented on #14
0.5.0 has been released.

[2015-07-06 23:08] #14 closed

[2015-07-06 23:09] zhangkun83 commented on #13
0.5.0 has been released. Please refer to the README on the master branch.

[2015-07-06 23:09] #13 closed

[2015-07-06 23:36] Xorlev commented on #13
Apologies for not seeing this earlier. This looks great to me and I'll give it a spin tonight. Thanks @zhangkun83!

[2015-07-07 23:21] edenman opened #24 ""./gradlew clean" should remove files from generated source dirs"
I'm setting `generatedFilesBaseDir = "$projectDir/src/generated"` so IntelliJ can more easily recognize my generated proto .java files as sources.  When I re-generate these files, I want a `clean` to remove them (in case I renamed a class with `java_outer_classname`, for instance)

[2015-07-07 23:31] edenman commented on #24
Workaround is just to augment the clean task:

[2015-07-07 23:55] zhangkun83 commented on #23
I am unable to reproduce it in the test projects based on the memory of how I ran into this. Might be a false alarm.

[2015-07-07 23:55] #23 closed

[2015-07-08 13:25] mikhailmikhaylov commented on #15
Hello, we are currently using this framework in our project and encountered this issue.
We have a multi module project and each module can have it's own proto files. Proto files by themselves are depended on each other and on protoc's proto files (any.proto and others). And we can only workaround this by manually copying proto files into module.
Could you please let us know are there any plans to

[2015-07-09 00:21] zhangkun83 opened #25 "Justify the protobuf/testProtobuf dependency feature or remove it"
The Protobuf dependencies, i.e.., ``protobuf``, ``testProtobuf`` etc, define packages of proto files that will be compiled along with those under the src dir. This feature is inherited from @aantono's plugin. However, I don't feel it should be called *dependency*. It's just another form of sources. The scenarios described in #15 and #8 sound more like dependency.

Maybe we should move this feature

[2015-07-09 00:24] zhangkun83 commented on #15
To clarify, this applies to Java dependencies, i.e., ``compile``, ``testCompile`` etc.
There are Protobuf dependencies, i.e.., ``protobuf``, ``testProtobuf`` etc, that simply contain proto files that will be compiled. This feature, however, is questionable (#25)

[2015-07-09 18:38] ejona86 commented on #25
SGTM. Since true dependencies would be passed to `protoc` with `-I` we will need to make it more obvious which files will be code generated and which will just be used for compilation.

[2015-07-09 19:03] aantono commented on #25
The reason those are called *dependencies* (I refer to ```protobuf``` and ```testProtobuf``` and whatever other sources you have) is because they truly are archive files, jar, zip, tar, etc, which contain *.proto* files that are *shared*.
While we definitely **DO NOT** want to share pre-compiled Java classes, as it causes all kinds of runtime linking errors if versions of Google's Protobuf Library

[2015-07-09 19:25] aantono commented on #8
One issue we have run into while figuring out how to share message definitions was the question of where should the Java code be generated, compiled and shared.  The problem is that the generated Java code by *protoc* is reliant upon a specific version of a *protoc* compiler, which in turn expects that the generated code is compiled against a specific version of the *protobuf-java* library.  But n

[2015-07-09 19:40] ejona86 commented on #8
I agree with the idea behind "never share the generated Java classes," and I've spent a lot of time educating others as to why it is required and why it sucks (but is the only short-term option).

However, protobuf-java will soon 1) be shipping .proto files for well-known protobufs and 2) include pre-compiled code in the runtime. We also have cases of multiple projects within a single application

[2015-07-09 19:49] aantono commented on #8
@ejona86, completely agree with the need to differentiate.  IMHO it seems that if you declare something as ```protobuf``` configuration dependency in Gradle, it is indeed an external artifact dependency.  The dependency does not always have to be in a form of *.class* files, it could be anything else like *.xml* or even *.proto* :)
If you want to simply adjust a ```--proto_path``` on a local file

[2015-07-09 20:05] ejona86 commented on #8
@aantono, dependencies need not be external, and external artifacts need not be "dependencies." As we've already done for protoc itself, we can grab artifacts even if they aren't in the `dependencies {}` section.

Having a separate protobufInclude could work.

Concerning the P.S., this is why I brought up protobuf-java itself. It is going to become a common occurrence to use `-I` with it. For the

[2015-07-09 20:07] aantono commented on #8
Does makes sense to support both (all 3) then...  One thing we do have to do now is to copy the ```descriptor.proto``` from the RPM into the ```protos-data.tar``` since we heavily use options, etc, so need to have *descriptor* messages to compile against. :)

[2015-07-10 00:05] Shad0w1nk commented on #21
Is it an hard requirement for the plugin to be coded in Groovy? Is Java also good? The way I understand the internal of Gradle, they usually use Java for the functionality and Groovy for configuration (if needed). The added advantage of Java is the syntax validation at compile time and some performance gain. The performance is simply theoretical as I never profile it but it do have a smaller execu

[2015-07-11 16:02] ejona86 commented on #8
You can already see that `descriptor.proto` is in protobuf-java's JAR. This is the same case as other well-known types like any, empty, and wrappers, so it would be a "protobuf" dependency or a "protobufInclude" dependency (depending on how we design things).

It seems like we are on the same page as far as what features to support, but how we expose the features to the user isn't quite agreed.

[2015-07-12 02:29] aantono commented on #8
Agreed.  I think we just need to decide what would be the most appropriate and intuitive way to define the configuration that makes sense.

[2015-07-13 16:54] zhangkun83 commented on #8
There is a third option -- we search in the `compile` dependency for `.proto` files, and include them in `--proto_path` automatically. The rationale is, if you use a library that publishes `.proto` files along with compiled generated classes (protobuf-java being an example), you will add it to `compile` dependency anyway, and it would be cumbersome if you have to add it to either `protobuf` or `pr

[2015-07-14 00:40] zhangkun83 commented on #21
Using Groovy is not a hard requirement, but I feel if the plugin was coded in Java, it would have much more boilerplate code. It's true that Java has stronger type and makes me feel more confident when it compiles, but the plugin doesn't have complex logic to require strong type that bad. What the plugin does is still more like configuring and assembling stuff, and Groovy is really good at it.

I

[2015-07-14 21:41] donnfelker opened #26 "Duplicate Entry Errors with Android and MultiDex"
I'm following the Android example project here: https://github.com/google/protobuf-gradle-plugin/tree/master/testProjectAndroid

My project uses multidex and when I integrate this into my project I start getting the following error:

[code]

Normally this is fixed by applying an exclusion because you have a duplicate entry somewhere. I confirmed that I do not have a duplicate entry by inspecting t

[2015-07-14 21:58] donnfelker commented on #26
To get this bug to show up, simply add the following line to the android config block in the testProjectAndroid

[code]

That will make the testProjectAndroid fail with the following error:

[code]

[2015-07-16 00:52] zhangkun83 commented on #26
This is interesting, but it doesn't look related to the protobuf plugin.
I tried to reproduce it with the way you provided, but it builds fine.
Can you try not loading the protobuf plugin and copy the generated files (under ``build/generated/source/proto/``) into your source directory temporarily just to see if you still have the problem?

[2015-07-17 00:35] anshulverma opened #27 "generated files are always named Protos.java"
Am I missing something or does the `generateProtos` task always generated a file named `Protos.java`?
Ideally, I would like it to generate multiple files (one per message). I see there is a way to specify `option 'multiple_files=true'` for `javanano`. I was hoping to have something similar.

[2015-07-17 01:58] ejona86 commented on #27
It is most likely named "Protos.java" because your file name is "protos.proto" (and this name can be overridden with java_outer_classname). The plugin itself does not choose the file names, those are chosen by protoc itself.

Try setting "option java_multiple_files = true;" in the .proto.

[2015-07-17 02:36] aantono commented on #8
This sounds good, but I have a fear that searching through every single dependency jar for included ```*.proto``` files might have a negative performance impact.  It is not unusual to have multiple hundred dependency jars, so not sure how performant would that be.  Plus that could result in a negative side-effect, where an undesired ```*.proto``` file contained in the jar would get pulled in, with

[2015-07-17 04:48] anshulverma commented on #27
Thanks, setting `option java_multiple_files = true;` worked.

By the way, the file was not named `protos.proto`. I understand why that could cause the same issue. I in fact had `option java_outer_classname = "Protos";`.

[2015-07-17 04:48] #27 closed

[2015-07-17 15:36] ejona86 commented on #8
I had a bit of concern about searching through the JAR files as well, but really, that is already done during compilation. In addition, ZIP does not have a tree of directories; it just has a list of files (some with `/` in the name). So scanning through all JARs should be similar cost to looking for a file in the classpath.

Since this would only be used with `-I`, if we extract extra .protos they

[2015-07-21 19:58] donnfelker commented on #26
@zhangkun83 Yeah taking generated proto files and putting them into the src/ directory and then commenting out all the plugin code in the build.gradle allowed a successful build. Thoughts?

[2015-07-21 23:28] donnfelker commented on #26
@zhangkun83 I was mistaken. `Build Project (F9)` succeds. But if you attempt to run the Android build configuration I'm getting the following error:

[code]

[2015-07-22 00:19] zhangkun83 commented on #8
This has converged with #15.

[2015-07-22 00:19] #8 closed

[2015-07-22 21:44] zhangkun83 commented on #15
There is an issue: if the depended protos and the dependent protos are compiled with different settings of option ``java_multiple_files``, class names for a same message will be different in the two projects. We have two options:
 1. We don't do anything about it. That requires all projects to have the same ``java_multiple_files`` setting, or there will be trouble.
 2. We add an option to allow re

[2015-07-22 22:52] zhangkun83 commented on #15
According to @pherl, `java_multiple_files` is available as command line option only for nano, users can always specify this option in proto files, and there won't be a problem if a proto imports another proto that sets this option differently. So this is less of a problem than I initially thought. Users should just avoid using the command line option and always use in-fine options.

[2015-07-23 16:34] donnfelker commented on #26
FYI, following the changes made in this commit: https://github.com/google/protobuf-gradle-plugin/commit/47d1430e9980ff3591cf7230f6c124a12e4f491b I was able to resolve the issues. Not sure exactly what the root cause was (I'd love to know) but I just wanted to let you know that this fixed the issue.

[2015-07-23 16:34] #26 closed

[2015-07-23 21:33] lomdalf opened #29 "A way to specify --descriptor_set_out on protoc command"
Hi,

Our use case requires us to generate a descriptor file. Is there a way to specify --descriptor_set_out flag on protoc command via the plugin?

We've tried:
[code]

But, it looks like this generates
protoc --descriptor_set_out=src/main/descriptor_set
where src/main/descriptor_set is a directory.

This doesn't work because protoc requires that --descriptor_set_out should point to a file instead

[2015-07-24 00:14] #15 closed

[2015-07-24 00:20] zhangkun83 commented on #15
@mikhailmikhaylov @mmmdreg can you guys give version `0.5.1-SNAPSHOT` a try by adding the snapshot repository https://oss.sonatype.org/content/repositories/snapshots/ ?

[2015-07-29 00:51] #29 closed

[2015-07-30 21:16] zhangkun83 commented on #15
FYI 0.6.1 includes this feature and has been released on Maven Central.

[2015-07-30 21:17] zhangkun83 commented on #29
FYI 0.6.1 includes this feature and has been released.

[2015-08-05 20:49] edenman opened #31 "Feature Request: support Java protoc plugins and allow specifying main class"
We have an existing codegen plugin for protobuf that is invoked in a maven build thusly:

[code]

If I try to add this same plugin the way this project specifies that plugins should be added:

[code]

The build fails (target `protobufToolsLocator_foo`) because it's trying to download an executable artifact `foo-protobuf-plugin-osx-x86_64.exe` which doesn't exist (the artifact is actually `foo-prot

[2015-08-05 23:53] ejona86 commented on #31
The hardest part of this seems to be "support Java protoc plugins." After that, it seems it would be easy to provide a way to override the mainClass (I assume because the JAR did not set one in its metadata).

It does seem that the plugin would have to generate a .sh or .bat file to be executed by protoc.

[2015-08-09 22:52] Shad0w1nk commented on #21
I just submitted an initial support for Gradle's model used in the C++ support. More work is definitely needed to make it more sexy. However, the baseline is present and can be used in a C++ project. My next pull request will aim to more forward with merging more code between Java/Android and C++ as well as the possibility to easily integrate 3rd party plugin for C support. Any input is welcome as

[2015-08-09 23:04] Shad0w1nk opened #33 "GenerateProtoTask should support incremental build"
The current implementation of GenerateProtoTask will not support scenario where a proto file is renamed or even deleted. In that scenario, the old generated file will be left behind and may cause unwanted build success or failure (by duplication). The task should take an IncrementalTaskInputs parameters to remove stalled output. It will also be able to build only the proto file that as changed - v

[2015-08-10 16:40] zhangkun83 commented on #31
So, if I don't find a `.exe` file in the artifact, but find a `.jar` file, I would assume it is a Java plugin. In that case, I would generate a `.sh` or `.bat` file to be executed by `protoc`.

I am not yet sure if `.bat` file works under windows, because the Maven protoc plugin [makes use of winrun4j](https://github.com/sergei-ivanov/maven-protoc-plugin/blob/master/src/main/java/com/google/protob

[2015-08-10 16:48] ejona86 commented on #31
Yeah, it might not; it may require calling cmd.exe, which would defeat the purpose. The Maven protoc plugin logic seems sane; mimicking it would be reasonable.

[2015-08-10 19:17] edenman commented on #31
FWIW, the "specify main method" thing isn't actually important to me, I realized the jar is actually executable already.  Main thing is to just support .jar plugins.  My current workaround:
[code]

[2015-08-12 00:29] zhangkun83 commented on #24
I am concerned about the safety of this feature. Because `generatedFilesBaseDir` can point to any directory, even outside of the project and may contain other non-generated files, deleting it indistinguishably can be dangerous. I would expect IntelliJ should allow you to specify sources under the `build` directory. If it's not the case, your workaround seems fine.

[2015-08-12 06:02] edenman commented on #24
imho:

- If you point `generatedFilesBaseDir` outside your project, you deserve to have that directory deleted.  What even would be the point of that?
- If you point `generatedFilesBaseDir` at a directory inside your project and it contains other non-generated files, what even would be the point of that?  Also, that's what version control is for.

[2015-08-13 16:48] zhangkun83 opened #35 "Switch tests to use TestKit"
Gradle 2.6 introduced [TestKit](https://docs.gradle.org/2.6/userguide/test_kit.html) that can be used to test Gradle plugins.

[2015-08-14 18:35] zhangkun83 commented on #24
I can imagine some people pointing `generatedFilesBaseDir` to `$projectDir/src/` for convenience. Maybe it's not necessary at all, but people may think it is and do it anyway. This may lead to deleting their own sources. Yes we have version control, but you may still lose local edits and sometimes it's siginificant loss.

Technically you are right, but people make mistakes, and I don't want their

[2015-08-15 17:40] Shad0w1nk commented on #24
If it's not recommended, why not deprecate the possibility. That way the problem will not be present.

For a possible solution, Gradle would have to know how, in term of file path, protoc is transforming the inputs. This would enable incremental compilation as we would know which files to remove when a proto file is deleted to keep everything up to date. Saving the processed information in a tempo

[2015-08-17 16:49] zhangkun83 commented on #33
We should probably add ``@Input`` and ``@OutputDirectory`` annotations to the two tasks too.

[2015-08-17 18:24] zhangkun83 commented on #33
@brunobowden

[2015-08-21 00:02] zhangkun83 commented on #33
WRT deleted or moved source files, currently protoc doesn't provide any information on what files it will generate, and I don't foresee this will happen easily. We cannot precisely delete the corresponding output files, and we can only delete the whole output directory. This leads to my concern about the safety of deleting the whole directory (#24). @ejona86 what's your take on this?

[2015-08-21 00:09] brunobowden commented on #33
Gradle does provide information like this. We already use it in the J2ObjC Gradle Plugin:
https://github.com/j2objc-contrib/j2objc-gradle/blob/master/src/main/groovy/com/github/j2objccontrib/j2objcgradle/tasks/TranslateTask.groovy#L100 - though to do this properly with the plugin, you also need to know what are the expected output files and how to remove them.

My suggestion is that you start with

[2015-08-21 00:34] brunobowden opened #37 "break connection to parent repository (aantono)"
@aantono, @zhangkun83 - can you send a request to GitHub asking to reparent repositories from aantono/gradle-plugin-protobuf to google/protobuf-gradle-plugin. Everything should be forked from the google repo. This also overcomes a limitation of GitHub which disallows people from searching forks. As google/protobuf-gradle-plugin is currently a fork of aantono/gradle-plugin-protobuf, this means you

[2015-08-21 00:52] zhangkun83 commented on #18
I will contact our internal github admin to see if he can help.

[2015-08-21 01:01] brunobowden commented on #18
If you just file a support ticket they can do it for you. That's what I did.

On Thu, Aug 20, 2015 at 5:52 PM Kun Zhang <notifications@github.com> wrote:

[2015-08-21 02:39] Shad0w1nk commented on #33
Several ways can give us the knowledge. The easiest way would be providing a patch to protoc to give it to us. I don't see any verbose flag, could it be something the guys at protoc would be willing to add or accept a pull request for?

If that is out of the question, we can always use hooking in the process to figure out the output. However this is hard to deal with the various OS.

We could also

[2015-08-21 22:01] brunobowden commented on #33
I was a little surprised that the output isn't that predictable. Can each
.proto file have multiple message's and hence multiple output java files?

My concern is that getting any information from the protoc could be flaky.
Outputting the files to a known clean folder would always be robust. It
gets trickier within Gradle as the outputs should point to the final
destination. So if any file is alte

[2015-08-22 23:34] Shad0w1nk commented on #33
A verbose flag from protoc could help us to piece together what happen to each input file. This can be flaky as we depend on purely informational output from the compiler.

The clean folder output will work best with least work and wouldn't affect the up to date information as we don't tag the clean temporary folder with Gradle as output. We only tag the target folder or the target file (final des

[2015-08-24 21:24] zhangkun83 commented on #18
Github customer service helped break up the connection.

[2015-08-24 21:24] #18 closed

[2015-08-24 23:49] lomdalf commented on #29
Thank you so much!

On Thu, Jul 30, 2015, 5:17 PM Kun Zhang <notifications@github.com> wrote:

[2015-08-25 20:49] zhangkun83 opened #38 "Code style"
There is no explicit style guide for contributors. I have been roughly following [Google Java style](https://google.github.io/styleguide/javaguide.html), which is not 100% suitable for Groovy. @brunobowden suggests [their code style](https://github.com/j2objc-contrib/j2objc-gradle/blob/master/CONTRIBUTING.md#style-guidelines). We may adopt it into our `CONTRIBUTING.md`.

[2015-08-27 18:12] zhangkun83 opened #39 "Infer protoc version from protobuf version automatically"
Because `protoc` generated code uses Protobuf internal API which doesn't have any stability guarantee, the version of `protoc` should always exactly match that of the protobuf runtime. We should make the protobuf plugin decide what version of protoc to use based the version of protobuf/protobuf-nano in the java compile dependencies, unless the user has explicitly specified a particular protoc vers

[2015-08-28 18:40] zhangkun83 commented on #24
Let's move the discussion to #33

[2015-08-28 18:40] #24 closed

[2015-08-28 18:44] zhangkun83 commented on #33
Just confirmed with protobuf team. Adding the "verbose flag" to protoc is not a trivial change, as it requires changes to all code generators and plugins.

However, I think this could work:

When build:
1. Generate to a clean temporary directory
2. Save the list of generated files in a manifest file under ``build``
3. Move the generated files to the target directory

When clean:
1. Find the manife

[2015-09-07 17:11] Shad0w1nk commented on #33
Your proposition is very good and quite easy to implement. I would suggest to put the manifest in the target directory instead. This way if someone deletes the build directory manually (without going through gradle), no generated files will be leak as the next time gradle runs, it will be able to figure out which file were not deleted by the manual cleanup. The plugin will then be able to recover

[2015-09-20 13:51] dlamblin opened #40 "Please apply the Java plugin or the Android plugin first"
A complete minimal example `build.gradle` file that uses the new plugins block would be appreciated; https://plugins.gradle.org/plugin/com.google.protobuf suggests the new "plugin mechanism introduced in Gradle 2.1" build script snippet should be:

[code]

I tried setting up a very minimal project with only two [proto](https://developers.google.com/transit/gtfs-realtime/gtfs-realtime-proto) [files

[2015-09-27 00:47] davidzchen opened #41 "google/protobuf/any.proto: File not found"
I am trying to use protobuf-gradle-plugin with proto3. However, it seems that the plugin is unable to import runtime proto definitions, such as google/protobuf/any.proto.

According to [the documentation for the Any time](https://developers.google.com/protocol-buffers/docs/proto3?hl=en#any), I added the following to the beginning of my proto file:

[code]

And following the documentation for the p

[2015-09-27 18:29] steffenyount opened #42 "Premature file validation in ToolsLocator causes slowdown during configuration phase"
I'm trying to use the protobuf-gradle-plugin in an environment with hundreds of gradle projects. In this environment it is vital that we keep the Configuration phase time spent on each of the individual projects down to a minimum since they accumulate to affect every subsequent invocation of gradle. For the most part we have achieved acceptable Configuration phase times by making sure that all our

[2015-09-28 21:51] ejona86 commented on #41
If you add a `compile` dependency to the protobuf runtime, they should automatically get pulled from protobuf's JAR and included with -I. Does that work for you?

[2015-09-29 00:24] aantono opened #43 "Support earlier version of glibc"
When trying to use a pre-compiled linux protoc binary, getting an error:
```/lib64/libc.so.6: version `GLIBC_2.14' not found```
If possible, recompile with a lower version (2.10 or 2.12) to support a wider range of Linux OS.

[2015-09-30 22:57] ejona86 commented on #43
What version of protobuf were you trying to use? We would expect new builds to support glibc 2.12 or later. I sort of assume you are using protobuf 2.6.1 because of google/protobuf#781.

[2015-10-01 04:52] aantono commented on #43
I'm using the protobuf 2.6.1 and have glibc 2.12 installed on my Linux box. RHEL CentOS 6.4

[2015-10-01 18:15] ejona86 commented on #43
It would be nice to do a fixed build. But let's track that in google/protobuf#781, since it is its release artifacts.

[2015-10-01 18:15] #43 closed

[2015-10-08 05:48] davidzchen commented on #41
Ah. That did the trick. Thanks!

[2015-10-16 23:02] bmat-google opened #46 "Java keywords in proto files not handled correctly."
One of my protobufs has a field called "interface". When invoking protoc manually, the generated Java file has a field called "interface_". However when using the Gradle plugin to build, the field is named "interface" and thus the code doesn't compile.

Here is my build.gradle for reference:

[code]

The proto:

[code]

[2015-10-16 23:41] xfxyjwf commented on #46
@zhangkun83 Could you help take a look at this?

[2015-10-17 15:58] zhangkun83 commented on #46
I pasted the proto to a new file under testProject, and the generated Java had all the fields end with an underscore. @bmat-google would you be able to provide a minimal gradle project to demonstrate this issue?

[2015-10-18 20:19] bmat-google commented on #46
@zhangkun83 you're right, I just confirmed the same. Looks like there is something about my project's protobufs that is triggering the problem. I'll work on boiling it down to a minimal example and post the results.

[2015-10-19 06:12] davidzchen commented on #41
Sorry, spoke too early. I forgot that I had copied `any.proto` to `src/main/proto` as a temporary workaround.

I have both of the following dependencies in the subproject where I apply the protobuf plugin:

[code]

However, the plugin was still not able to find `any.proto`.

[2015-10-19 17:53] bmat-google commented on #46
@zhangkun83 I've discovered that the issue is actually stems from protobuf extensions that contain a Java keyword:

[code]

Invoking ```protoc --proto_path=proto --javanano_out=build/manual proto/demo.proto``` will generate the following:

[code]

Whereas ```gradle build``` will generate this:

[code]

Note that the field "```interface```" is not handled correctly in the latter.

Here is ```build.

[2015-10-19 19:10] bmat-google opened #47 "Compiler generates invalid Java code when processing packageless proto"
The following protobufs cause the plugin to generate invalid Java:

all.proto
[code]

demo/one.proto
[code]

demo/two.proto and demo/three.proto follow the same pattern.

demo.proto
[code]

Below is a snippet from the generated file ```Demo.java```:

[code]

The plugin adds an extra dot before "All", resulting in invalid Java. The workaround is to specify a package in ```all.proto```.

[2015-10-19 20:46] ejona86 commented on #47
Thank you for the bug report, but this looks like an issue with protoc itself and not the plugin. Would you mind filing an issue against https://github.com/google/protobuf instead?

[2015-10-19 21:13] bmat-google commented on #47
@ejona86 done.

[2015-10-19 21:13] #47 closed

[2015-10-20 16:42] zhangkun83 commented on #41
I cannot reproduce the issue.
If you download the protobuf-gradle-plugin project sources, and do:
[code]
It should succeed. `testProjectDependent` is an example project that uses `any.proto`.

Can you check if `azkaban-common/build/extracted-include-protos/` exists at all? If it does, can you list its content?

[2015-10-20 18:27] zhangkun83 commented on #46
If you use `--java_out` instead of `--javanano_out`, you will get the same failure.
The nano generator adds the underscore while the java generator doesn't. @xfxyjwf is this a bug in protoc?

[2015-10-20 18:29] zhangkun83 commented on #46
@bmat-google you can configure the plugin to generate javanano instead of java, if it is what you wanted:
[code]

[2015-10-20 18:33] xfxyjwf commented on #46
@zhangkun83 that sounds to be the problem: proto Java code generator does not check/alternate Java keywords. We'll need to fix that.

[2015-10-20 20:21] #46 closed

[2015-10-27 00:45] brunobowden commented on #33
Sorry for the belated follow up on this. Firstly, this system would work easily without a manifest file, if everything was isolated to the build directory. Is that possible? That way, it's much easier to manage state. We do this with the J2ObjC Gradle Plugin for example. The idea is that the proto files are the only thing checked in the repository and then everything else is generated from that.

[2015-10-27 00:46] brunobowden commented on #33
That last link is where I've asked a question publicly about this issue:
http://stackoverflow.com/questions/33358115/tracking-and-deleting-output-files-from-a-gradle-task

[2015-10-29 18:56] brunobowden commented on #37
This is a duplicate of #18, which has already been solved

[2015-10-29 18:56] #37 closed

[2015-10-29 19:07] brunobowden commented on #33
There's now an answer to the post that I agree with:

http://stackoverflow.com/questions/33358115/tracking-and-deleting-output-files-from-a-gradle-task/33361143#33361143

The plugin will work best if all output is done to the build directory, as specified by the `AbstractTask.getTemporaryDir()`. For example with Dagger2, it populate the generated code to `build/classes/main` where it's automatical

[2015-11-04 14:13] JakePi3 opened #49 "Expose a way to query builtins/plugins at Gradle configuration time"
A bit of background first... I am trying to generate both Java and C++ bindings and then publish the Java classes as well as the C++ source files to a Maven repository.

I currently have:

[code]

It would be nice if the zip task could discover the outputs of a builtin with a given name.. Something like:

[code]

Or even better, move some of that complexity into the actual plugin.. At the moment t

[2015-11-05 20:07] zhangkun83 commented on #49
As documented, we suggest not assuming the names of the generate proto tasks, thus all configurations that are related to these tasks should be done in the `generateProtoTasks` closure.

This would get what you want:
[code]

It's not working at current version because `t.builtins` is not a readable property. If the general solution sounds good to you, I can make the property readable.

[2015-11-06 10:52] JakePi3 commented on #49
Yes, this is great.  Maybe make t.plugins also readable for same reason...

Thanks.

[2015-11-06 18:27] zhangkun83 commented on #49
0.7.1 is now released. `builtins` and `plugins` are now readable.

[2015-11-06 18:27] #49 closed

[2015-11-11 02:19] pranasblk opened #50 "protoc binaries are not resolved using Nexus private repo + inconsistent debug messages"
Environment:
 * The issue reproduced on v0.7.1

* Gradle fragment specify
[code]

But getting errors:
[code]

The strange thing the path 'http://my-private-nexus-proxy:3000/artifacts/content/groups/PR_Group/com/google/protobuf/protoc/2.6.1/protoc-2.6.1-windows-x86_64.exe' is CORRECT.

Notes:
* The reference to 'protoc-windows-x86_64.exe' is not correct and should be 'protoc-2.6.1-windows-x86_64.ex

[2015-11-12 02:14] zhangkun83 commented on #50
Could not find protoc-windows-x86_64.exe (com.google.protobuf:protoc:2.6.1)
[code]
A problem occurred configuring project ':testProject'.

     Searched in the following locations:
         https://repo1.maven.org/maven2/com/google/protobuf/protoc/2.6.3/protoc-2.6.3.pom
         https://repo1.maven.org/maven2/com/google/protobuf/protoc/2.6.3/protoc-2.6.3-linux-x86_64.exe
         https://jcenter.b

[2015-11-12 02:50] pranasblk commented on #50
Gradle 2.8

[2015-11-12 17:53] zhangkun83 commented on #50
Tried with Gradle 2.8, I still got the error I saw with 2.3 and 2.7. Are you able to resolve the artifact from Maven Central?

[2015-11-12 21:54] pranasblk commented on #50
I tried with Gradle 2.8:
Mac OS: Maven Central & Private proxy of Maven Central - Works
Linux: Private deployment of protoc 2.6.1 in Nexus - FAILS due to dynamic libarary libc.so has different version (but able to retrieve binary artifact i.e. not directly related to the current version)
Windows: Private deployment of protoc 2.6.1 in Nexus - FAILS to retrieve binary artifact.

[2015-12-10 12:37] pgracio opened #51 "google/api/annotations.proto: File not found."
Hey,

I'm starting using protobuf and this might be a newbie question so be patient :)

On my service.proto definition I have
[code]

and on build.gradle

[code]

[2015-12-10 12:46] pgracio commented on #51
#41 seems to be related. @ejona86 could you please provide some guidance?

[2015-12-10 15:59] pgracio commented on #51
found the solution here #8 sorry for the spam.

[2015-12-10 15:59] #51 closed

[2015-12-24 18:54] s4nch3z commented on #40
+1

[2016-01-04 19:06] zhangkun83 commented on #40
I pushed `0.7.2` to plugins.gradle.org. Unfortunately it doesn't seem to work. Since the new plugin mechanism lacks a testing repo or support for local repo, I will not create more "hopeful fix" releases at this moment. I will go ahead and add instructions in favor of the old mechanism.

[2016-01-04 22:06] zhangkun83 commented on #40
`0.7.3` is now released with the improved error message.

[2016-01-04 22:06] #40 closed

[2016-01-05 22:15] dlamblin commented on #40
While I'm glad there's a resolution, I'm sad the new plugins block does not work.

[2016-01-06 13:34] king--kong opened #52 "Build python grpc?"
By using io.grpc:protoc-gen-grpc-java as an artifact for grpc plugin, I can generate grpc libraries in Java.

But I could not figure out how to generate python grpc libraries with protobuf-gradle-plugin.

Is it not supported yet?

[2016-01-16 08:34] steffenyount commented on #40
If I'm reading it correctly, it looks like there's documentation recommending against using the project.plugins.hasPlugin('java') API based on the PluginContainer and instead it is recommending in favor of using the project.pluginManager.hasPlugin('java') API based on the PluginManager.

https://docs.gradle.org/current/javadoc/org/gradle/api/plugins/PluginAware.html#getPlugins()
vs
https://docs.gr

[2016-01-26 18:36] jhspaybar opened #54 "Best way to create proto only packages?"
In an effort to eliminate copy/pasting *.proto files into many projects across languages, I'd like to have a gradle project with only the proto files contained and published in the released artifact.  What is my best method for doing so?  I'd like to use a standard dependency like `compile "com.mypackage:my-service-definition:1.0"` and have it be available and used somehow within the project.  I s

[2016-01-30 05:57] pazderak opened #55 "Custom source sets are not supported"
Hi,
I have defined a custom source set for Java application:
`sourceSets {
  generated
}
`, but this source set is untouched when compilation is runned:

06:44:08.183 [INFO] [org.gradle.api.internal.file.collections.DirectoryFileTree] file or directory '/home/admin/workspace/travel-vendor-service-sncf/src/main/proto', not found
06:44:08.183 [INFO] [org.gradle.api.internal.file.collections.Director

[2016-01-30 06:24] zhangkun83 commented on #55
Have you tried adding brackets:
[code]

[2016-01-30 14:19] pazderak commented on #55
Yes, and I event tried also
 `sourceSets {
   generated {srcPath "src/generated/proto"}
}`

[2016-01-31 01:23] zhangkun83 commented on #54
Once you have published the artifact that contains the proto files, you may reference it as a `protobuf` dependency, e.g.,
[code]

[2016-01-31 01:46] jhspaybar commented on #54
In the package that contains only protos I'd like to compile them, mostly to validate the syntax, but not distribute the compiled classes.  Your recommendation to use the protobuf declaration works, but the precompiled class files are still there from the plugin compiling them in the sub-project.  I did a jar{excludes} to keep them out, but maybe there's a better approach?

[2016-01-31 01:54] zhangkun83 commented on #54
If I read you correctly, you are asking about the project that publishes the protos, not that consumes.
The protobuf plugin facilitates only the consumption of the protos. For distribution, you would have to jar them by yourself.

[2016-01-31 01:54] #54 closed

[2016-01-31 01:55] jhspaybar commented on #54
Thanks for your help!  That's kind of what it looked like but I wanted to make sure.

[2016-01-31 02:08] zhangkun83 commented on #55
I think I know what's happening. Gradle by default only builds the `main` and the `test` source sets. You will need to explicitly run the `compileGenerated` task, or make either `main` or `test` depend on the output of `generated`, to get Gradle to compile the `generated` source set. `sourceSets { generated }` is sufficient.

[2016-01-31 02:08] #55 closed

[2016-02-07 05:26] mdusina opened #56 "proto import statement from Android project to Android project broken?"
I accidentally opened this in the [old repository](https://github.com/aantono/gradle-plugin-protobuf/issues/25).

I have two Android libraries, both of which have protos. ProjectB depends on ProjectA -- compile project(':projectA'). The only non-standard thing I've done is to disable nano protos and use the normal style protos (reverting that doesn't solve my problem).

Both protos can compile jus

[2016-02-15 00:13] zhangkun83 commented on #56
Sorry for taking so long. This is a known missing feature, which is marked as a [TODO](https://github.com/google/protobuf-gradle-plugin/blob/9fda74b03aecab8d1f84e87fa8462294aeda89b9/src/main/groovy/com/google/protobuf/gradle/ProtobufPlugin.groovy#L257) in the source code. I didn't do it partially because the doubt of whether this feature would be needed, and that I was not familiar with Android de

[2016-02-19 21:55] pcostell opened #58 "proto import of main proto from test fails by default"
See https://github.com/pcostell/protobuf-gradle-plugin/pull/1 for an example test of where this fails.

For normal java imports, the test directory gets the main directory as a dependency. However, this doesn't happen for proto imports.

I was able to resolve this by updating my generateProtoTasks with:

[code]

I would expect this to happen automatically for all test source sets to match the java

[2016-02-21 00:21] zhangkun83 commented on #58
I did some research and here is the the results so far.

The plugin extracts protos from the __artifacts__ (typically `.jar`s) and __projects__ (which is basically a local artifact) that a configuration depends on. For example, through the `compile` configuration, the plugin gets the artifacts that the `main` source set depends on, which are a bunch of `.jar`s that contains the protos. Same story

[2016-02-21 17:05] zhangkun83 commented on #52
The python code generator is in the [main grpc repository](https://github.com/grpc/grpc/blob/master/src/compiler/python_generator.cc). Unlike the Java gRPC code generator which provides precompiled artifacts, you will need to compile the python generator by yourself. Feel free to ask questions on grpc-io@googlegroups.com on how to do it.

[2016-02-21 17:05] #52 closed

[2016-02-21 17:18] zhangkun83 commented on #56
I am trying to figure out how to include protos in the artifact of a Android library project. In Java project I can just include the files in the `processResources` task, but it doesn't work for Android project. The `process*Resources` tasks in Android is different from the ones in Java.
@mdusina any ideas?

[2016-02-21 18:11] zhangkun83 commented on #58
Seems I cannot get the source dir from a configuration. I made a PR that uses a different approach.

[2016-02-25 18:43] #58 closed

[2016-03-15 04:00] occho opened #61 "Breaking change of DefaultSourceDirectorySet constructor interface"
The current protobuf-gradle-plugin cannot be used with gradle 2.12 due to the breaking change of the `DefaultSourceDirectorySet` constructor interface.

https://github.com/google/protobuf-gradle-plugin/blob/204010ecbced565c78aefa0ae13def7979347afe/src/main/groovy/com/google/protobuf/gradle/ProtobufSourceDirectorySet.groovy#L46

https://github.com/gradle/gradle/blob/REL_2.12/subprojects/core/src/ma

[2016-03-15 06:40] thefallentree opened #62 "gradle 2.12 issue"
[code]

[2016-03-15 15:44] zhangkun83 commented on #62
Duplicates with #61

[2016-03-15 15:44] #62 closed

[2016-03-15 20:44] #61 closed

[2016-03-24 09:41] TomislavHorvatZoos opened #64 "Error:Unable to load class 'org.gradle.api.internal.file.collections.DefaultDirectoryFileTreeFactory'."
After adding the latest version of the gradle plugin to my Android project I get this error when trying to build my project.

Error:Unable to load class 'org.gradle.api.internal.file.collections.DefaultDirectoryFileTreeFactory'.

I am using Gradle 2.8.

NOTE: this issue does not seem to happen on plugin version 0.7.5

[2016-03-24 15:35] zhangkun83 commented on #64
[0.7.6](https://github.com/google/protobuf-gradle-plugin/releases/tag/v0.7.6) requires Gradle 2.12. Please upgrade your Gradle version, or use 0.7.5 if you prefer to use older versions of Gradle.

[2016-03-24 15:35] #64 closed

[2016-04-07 07:33] gokul2411s opened #65 "Unable to compile with errors"
Hi team.

I am attaching a set of files representing a simple proto setup. There is a gradle build (with wrapper) and a single proto file. I have followed the instructions on  using the protobuf-gradle-plugin. However, I get the following errors when I run `gradlew build`.

[proto.zip](https://github.com/google/protobuf-gradle-plugin/files/207897/proto.zip)

:extractIncludeProto
:extractProto UP-T

[2016-04-07 22:54] zhangkun83 commented on #65
This is your project structure:
[code]
You should put `mcq.proto` under `src/main/proto`, and remove the following lines from your `build.gradle`, because what they do is to make all temporary files and output files into your source set, which is a very bad idea.
[code]

[2016-04-07 22:54] #65 closed

[2016-04-08 07:20] gokul2411s commented on #65
That did work. Thanks for that.

But I wanted to create a project structure as follows.

[code]

How can I accomplish this? My main intention is to separate the protos from Java code, since the protos could be used by code from other languages as well.

Also, I do not want to maintain the rigid structure imposed by say src/main/proto or src/main/java.

Could you kindly guide me?

[2016-04-08 16:34] zhangkun83 commented on #65
This looks entirely different from Gradle's project structure, I don't know how you could manage subprojects like this in general.

protos are in `src/main/proto`, while (handcrafted) Java code are in `src/main/java`, so they are separate. Generated files are under `build`, which is not part of your source and in most cases you wouldn't need to care about their actual locations.

[2016-04-12 10:30] delakanda opened #66 "Gradle build failing with gradle 2.12"
The gradle build is failing with this release.
i am using gradle 2.12.

Error Message : Error:(2, 0) Cause: org/gradle/api/internal/file/collections/DefaultDirectoryFileTreeFactory

When i switch back to the 0.7.5 release, it builds fine

[2016-04-12 11:37] delakanda opened #67 "Proto sourceset not generated"
after adding the proto to the source block, i dont see any proto directory.

Here is the definition as added in my build.gradle file

[code]

[2016-04-12 16:20] zhangkun83 commented on #66
0.7.6 should work with Gradle 2.12, while 0.7.5 doesn't. I guess you are not using Gradle 2.12 actually. Can you build from the command line with `--stacktrace` and post the full output?

[2016-04-12 16:22] zhangkun83 commented on #67
This doesn't create proto directory for you. If you have any proto files to compile, you will put them under `src/main/proto` as indicated in the sourceSets block.

[2016-04-12 16:22] #67 closed

[2016-04-12 16:36] delakanda commented on #67
i see... i finally got something working..thanks

[2016-04-15 14:01] matty opened #69 "Multiple protobufs inside a folder"
When you have multiple protobufs inside the proto folder for example, proto/proto1 & proto/proto2 but inside proto1 you have an proto file with an import that imports a file inside proto1 and in proto2 you have an proto file with na import that imports a file inside proto2 and both import files are the same file name as the others.

This causes an issue with the import already being imported from

[2016-04-15 17:02] zhangkun83 commented on #69
Is it what you are saying?
[code]

Can you post the exact error message?

[2016-04-15 17:26] matty commented on #69
More like: (assuming the import imports the file in the same directory)
`src/main/proto/proto1/foo.proto
src/main/proto/proto1/bar.proto: import "foo.proto"
src/main/proto/proto2/foo.proto
src/main/proto/proto2/bar.proto: import "foo.proto"`

The error produced will be:
"proto1/foo.proto Input is shadowed in the --proto_path by proto2/foo.proto"

I assume because the files are the same name, but i

[2016-04-15 18:27] zhangkun83 commented on #69
What does your sourceSets block look like?

[2016-04-18 16:40] #66 closed

[2016-04-18 16:42] #41 closed

[2016-04-21 15:17] gchoza opened #71 "Protobuf nano and J2Objc translated classes in Swift"
I have a J2Objc project using protobuf nano. The issue I'm having is that the instance variables in the generated Objective C code are iVars and Swift cannot access them directly. I have to use the "valueForKey("mResponseData_")" syntax and cast the result to the correct type which is not ideal. If I could annotate the generated protobuf Java classes with the J2Objc @Property annotation J2Ojbc wou

[2016-04-21 16:19] zhangkun83 commented on #71
This is related to the protobuf compiler, not this plugin. Please file the issue against the [protobuf project](https://github.com/google/protobuf) instead.

[2016-04-21 16:19] #71 closed

[2016-04-21 16:27] matty commented on #69
[code]

I have also tried using the default folder "protobuf". The issue I think is if you have imports with the same names there are conflict errors, maybe if there are multiple source set folders provided have them run separately?

[2016-04-21 16:46] zhangkun83 commented on #69
Try removing the whole `sourceSets` block (thus using the default `src/main/proto`), and include the path in the `imports` statement:
[code]

[2016-04-21 16:48] matty commented on #69
I can give that a try but I did try something like that already, just in a different folder and one folder specified in the sourcesets. I believe its more an issue with files being the same name and being referenced twice although they actually have differences.

[2016-04-28 17:10] #42 closed

[2016-05-02 17:32] twasilczyk opened #73 "NullPointerException when building with Jack"
Example Android project build fails after switching to Jack (new official Android toolchain). This results in inability to migrate to Jack for any project that uses protobuf-gradle-plugin.

To reproduce, apply the patch ([protobuf-gradle-plugin-jack.patch](https://github.com/google/protobuf-gradle-plugin/files/245588/protobuf-gradle-plugin-jack.patch.txt)) and run ```./gradlew test --stacktrace```

[2016-05-05 20:06] zhangkun83 commented on #73
I have contacted Jack developer. It's a known issue to them and hopefully will be fixed in their 2.2 release.

[2016-05-05 20:11] #73 closed

[2016-05-11 20:21] ejona86 opened #74 "Support osdetector 1.4.0"
Currently osdetector 1.2.1 is being used. osdetector 1.4.0 is incompatible because the "apply plugin" changed from "osdetector" to "com.google.osdetector". Users trying to use the newest version will thus get failures.

Changing the version protobuf-gradle-plugin uses will probably break any users running "apply plugin: 'osdetector'" themselves, but there seems little to be done to avoid that.

[2016-05-18 13:52] noosxe opened #75 "Error:Unable to load class 'org.gradle.api.internal.file.collections.DefaultDirectoryFileTreeFactory'"
When using "apply plugin: 'com.google.protobuf'" in build.gradle, build fails inside android studio, though using terminal gradle everything is fine. The error is:

Error:Unable to load class 'org.gradle.api.internal.file.collections.DefaultDirectoryFileTreeFactory'.
Possible causes for this unexpected error include:<ul><li>Gradle's dependency cache may be corrupt (this sometimes occurs after a ne

[2016-05-18 16:22] zhangkun83 commented on #75
Trying to use the plugin with a Gradle older than 2.12 will cause this problem. Can you try upgrading Gradle?

[2016-05-18 22:19] zhangkun83 commented on #75
As this has been reported multiple times, I have updated the README to make the Gradle version requirement even more obvious.

[2016-05-19 08:48] noosxe commented on #75
Thanks for your reply. I had to change gradle home from android studio settings and that finally worked, though I had already changed gradle to version 2.12 from module settings and that was not working.

[2016-05-19 08:48] #75 closed

[2016-06-03 09:08] kdubezerra commented on #52
As an alternative, there's this plugin, which seems to support building for both java an python: https://github.com/andrewkroh/gradle-protobuf-plugin

[2016-06-09 01:16] cancio opened #77 "Specifying JavaScript compilation fails to build"
I am trying to compile proto files to JavaScript. As per your suggestion on [this](http://stackoverflow.com/questions/37324466/gradle-grpc-compilation-for-java-js-c-sharp#comment62817765_37329385) SO post, I added this:

[code]
When I try to build, I get:

[code]

I am running 0.7.7.

[2016-06-09 03:18] jaredsburrows opened #78 "Add TravisCI support"
Add TravisCI support

Right after cloning the project, simply running `gradlew tasks` fails:
[code]

Adding CI will fix these issues.

[2016-06-09 16:12] zhangkun83 commented on #78
This issue is not actually CI-specific. `./gradlew tasks` fails because the test projects require `./gradlew install` first (see "Testing the plugin" in README.md). Hopefully #76 will fix this issue.

[2016-06-09 16:14] jaredsburrows commented on #78
@zhangkun83 Yeah. There has just gotta be a better way. Normal maven/gradle projects do not require you to install the snapshot locally.

Normally the examples would use the "release". I am guessing you have the examples use the "latest snapshot" for CI integration testing.

[2016-06-09 16:15] jaredsburrows commented on #78
@zhangkun83 Either way, I can help you add TravisCI support, we can run `gradlew install` and then `assemble test`. Let me know.

[2016-06-09 16:18] zhangkun83 commented on #78
That would be great. TravisCI is indeed useful, though installing Android SDK on Travis may be tricky.

[2016-06-09 16:19] ejona86 commented on #78
Android is actually not too bad on TravisCI. The only reason we don't do it with grpc is because it is incompatible with also testing on osx.

[2016-06-09 16:22] jaredsburrows commented on #78
@zhangkun83 The SDK is easy to install on Travis. Please see: https://github.com/jaredsburrows/android-gradle-java-app-template

@ejona86 I see needs osx: https://github.com/grpc/grpc/blob/master/.travis.yml. But for this plugin, which is written in `groovy` we can add just the normal `android` CI for now?

[2016-06-09 16:45] ejona86 commented on #78
@jaredsburrows, I agree there's no need for OS X on this project. @zhangkun83 is familiar with grpc-java and I was mentioning why it is hard specifically for that project, but shouldn't be difficult for this one.

[2016-06-09 16:45] jaredsburrows commented on #78
@zhangkun83 @ejona86 Sounds good. I'll make a PR as soon as TravisCI is turned on for this project.

[2016-06-09 16:47] ejona86 commented on #78
@zhangkun83, I can't enable Travis for this project. I think can do it at https://travis-ci.org/profile/google

[2016-06-09 16:50] zhangkun83 commented on #78
I just did it: https://travis-ci.org/google/protobuf-gradle-plugin

[2016-06-09 17:04] jaredsburrows commented on #78
@zhangkun83 Thank you. All test projects run except the `testProjectAndroid` does not. Are you all able to run `gradlew assemble`?

[2016-06-09 17:19] zhangkun83 commented on #78
No, I never tried to do it. First I needed to run under JDK 7 to avoid the "bad class file magic (cafebabe) or version (0034.0000)" error. After that I got the "Duplicate files copied in APK io/grpc/testing/integration/messages.proto".

[2016-06-09 17:24] zhangkun83 commented on #77
I confirmed the issue with protoc-3.0.0-alpha-3. @pherl when protoc is invoked with `--js_out` it fails with the above error. Could you take a look?

[2016-06-09 17:33] pherl commented on #77
Hmm, which protoc binary are you using? It looks like the binary was actually not the latest one..

[2016-06-09 17:41] jaredsburrows commented on #78
@zhangkun83 Yeah. Adding:
[code]
to `testProject` and adding:
[code]
to `testProjectAndroid` solves that issue.

I am still looking into it.

[2016-06-09 17:45] jaredsburrows commented on #78
@zhangkun83 Now I am seeing:

[code]

[2016-06-09 17:50] ejona86 commented on #78
You can use `packagingOptions` to workaround that (like [I used here](https://github.com/ejona86/grpc-java/commit/5d193ad30654fabfd2c31ab9fd81ebf9874fc1a2#diff-42685fd5e3a2a013ca4c3dd74400202bR16)). It is probably worth figuring out where the dups are coming from though (maybe make an issue to track it).

[2016-06-09 17:53] jaredsburrows commented on #78
@ejona86 `packagingOptions` to remove duplicate `.proto` files? I am looking into the dupes now.

[2016-06-09 17:57] ejona86 commented on #78
@jaredsburrows, yeah, to exclude/pickfirst the dup'ed .proto files (they aren't used anyway). It looks like they are duped because testProject has a copy of the .proto to test normal proto vs nano proto.

[2016-06-09 18:20] jaredsburrows commented on #78
@ejona86 Thanks.
This works:
[code]
This did not:
[code]

[2016-06-09 19:02] cancio commented on #77
Was that directed at me or at @zhangkun83? How do I verify the protoc binary version that comes with the plugin?

[2016-06-09 19:34] zhangkun83 commented on #77
Upgrading to 3.0.0-beta-2 works:
[code]

[2016-06-09 19:34] #77 closed

[2016-06-09 20:02] jaredsburrows commented on #78
@zhangkun83 @ejona86 Thanks. I have solved the problem and the build passes.

[2016-06-10 01:14] jaredsburrows commented on #78
Closing this because code was merged: https://github.com/google/protobuf-gradle-plugin/pull/79.

[2016-06-10 01:14] #78 closed

[2016-06-12 17:37] testark commented on #41
@zhangkun83 I'm having the same problem here. `extracted-include-protos` exists and contains `any.proto` and `empty.proto`, but I get the same errors. I'm using the latest version (`0.7.7`).

[2016-06-13 21:39] jhspaybar opened #81 "Use options like js_out?"
I've seen how to reference plugins, but what is the proper way to use the standard protoc binary to generate other language artifacts?  In my case in particular, I'd like to generate with the arguments --js_out=import_style=commonjs,binary:node/ and then use a different gradle plugin to run an npm publish on the node subdirectory.  This lets me have a single project that publishes generated source

[2016-06-13 22:33] zhangkun83 commented on #81
Use `builtins` in the same way as `plugins`:
[code]

[2016-06-13 22:38] zhangkun83 commented on #41
@testark Can you provide you project for me to debug on, or if it's not feasible, at least a stripped-down project on which I can reproduce the issue?

[2016-06-13 23:51] jhspaybar commented on #81
Awesome, that worked!  This is what I have now.

[code]

However, this is generating into ${protobuf.generatedFilesBaseDir}/node and I was hoping it'd generate to projectroot/node.  I can make it work regardless, but I was wondering if there was a way to change where the js code output to without affect java in any way?

[2016-06-13 23:57] zhangkun83 commented on #81
Unfortunately no. The only way to change the output directory is through `generatedFilesBaseDir`.

[2016-06-14 05:22] jhspaybar commented on #81
Alright, thanks for all the help.  I got everything working now.

[2016-06-14 05:22] #81 closed

[2016-06-14 09:09] testark commented on #50
It's happening with me too with Gradle 2.13 and version 0.7.7 of the plugin under Linux.

[2016-06-14 09:09] testark commented on #41
@zhangkun83 I will try to put something up in the next couple of hours.

[2016-06-15 18:50] jaredsburrows commented on #74
@ejona86 I have updated this in my last PR. We can close this issue now.

[2016-06-15 19:37] #74 closed

[2016-06-23 01:28] mausamdoshi opened #82 "Gradle sync failed with Gradle 2.1.2 (Release 0.7.7)"
Gradle sync failed: Cause: org/gradle/api/internal/file/collections/DefaultDirectoryFileTreeFactory.

I am using Android studio on mac.

[2016-06-23 08:43] looperhacks commented on #82
You need to update Gradle to at least 2.12

[2016-06-23 14:40] mxk commented on #73
Do you know if there is an ETA on the 2.2 release? I just tried 2.2.0-alpha3 (assuming you are referring to com.android.tools.build:gradle) and the issue is still there.

[2016-06-23 16:13] #82 closed

[2016-06-25 20:31] testark commented on #50
In case anyone comes across this, I solved it by unchecking the `Validate that all content uploaded to this repository is of a MIME type appropriate for the repository format` checkbox under `Strict Content Type Validation` in my repository's configuration. After doing that, a `./gradlew build --refresh-dependencies` did the trick.

[2016-06-27 12:31] twasilczyk commented on #73
2.2.0-alpha4 works fine for me.

[2016-06-27 13:43] mxk commented on #73
Thanks for the update. NullPointerException exception is gone, but now I'm getting `ClassNotFoundException: com.android.jack.api.v03.Api03Config` at the `:transformClassesWithPreJackPackagedLibrariesForDebug` step. Guess I'll just wait for the release.

[2016-06-27 17:05] zhangkun83 commented on #50
@testark Thank you for sharing the solution.

[2016-06-27 17:05] #50 closed

[2016-06-28 13:41] twasilczyk opened #83 "Another NullPointerException when building with Jack"
This is a follow-up from #73. While android gradle plugin 2.2.0-alpha4 fixes the first NPE, another two exceptions came out:

`ClassNotFoundException: com.android.jack.api.v03.Api03Config` when trying to deploy a project with Android Studio (was not able to reproduce it with test project, because I got the following NPE at first).

NullPointerException when trying to run `./gradlew test --stacktra

[2016-06-28 16:22] zhangkun83 opened #84 "Stop defaulting to javanano for Android"
Protobuf-lite is replacing nano as the recommended protobuf for Android. The plugin currently generates for `javanano` by default for Android, we should stop doing that soon, and probably switch to generate lite by default. Protobuf-lite, instead of being a separate output type as nano does, works as an option of the `java` output:
[code]

[2016-07-01 08:33] avf opened #85 "Support for gradle experimental android plugin"
Hi!
Is it possible to use this plugin with the [gradle experimental android plugin](http://tools.android.com/tech-docs/new-build-system/gradle-experimental)? Since the experimental plugin requires gradle 2.10, I've tried it with release 0.7.5 of this plugin, but it doesn't seem to work, it says it requires the android plugin. Is there a way to work around this?

[2016-07-01 16:16] zhangkun83 commented on #85
Probably not possible at this moment, since the experimental Android plugin uses Gradle's new configuration model. There is a stalling PR (#44) for the protobuf plugin to make it use the configuration model. Even if that PR is in, it may still require additional effort to be compatible with the experimental Android plugin.

This issue has been on my radar for a while, I just haven't got time for i

[2016-07-06 18:43] zhangkun83 commented on #83
Yes I can confirm it.

The problem is that with Jack enabled, the test variants from `android.testVariants` no longer have their `javaCompile` field set. The tasks seems to be gone completely. For example, this works without Jack, but will fail with "task not found" when Jack is enabled:
[code]

[2016-07-06 19:25] zhangkun83 commented on #83
According to the Android plugin developer, this is to be fixed in alpha5.

[2016-07-11 09:28] twasilczyk commented on #83
I can confirm alpha5 fixes ClassNotFoundException in my project, but NullPointerException in `./gradlew test` is still there.

[2016-07-22 22:45] zhangkun83 commented on #83
`javaCompile` in `testProjectAndroid/build.gradle` needs to be changed to `javaCompiler` if Jack is enabled. That would solve the NPE.

[2016-07-28 12:42] tabiul opened #88 "Provide a feature where a seperate FileDesc is generated per proto file"
Currently in order to generate a file descriptor, I am doing the below

The problem with this is that all messages goes to one desc file. I want different desc file per message. Can this be done? Maybe an enhancement?

[2016-07-28 12:47] tabiul commented on #88
I am not sure I think the reason for this is this line of code [https://github.com/google/protobuf-gradle-plugin/blob/master/src/main/groovy/com/google/protobuf/gradle/GenerateProtoTask.groovy#L412] where all the *.proto is passed to the protoc command which results in a single desc file. Maybe some way to configure protoc to run per proto file would solve the issue?

[2016-07-29 01:42] qingdaofu1 opened #89 "Error:Execution failed for task ':app:generateDebugProto'."
hi, i got this problem,the log like that.

Error:Execution failed for task ':app:generateDebugProto'.

D:\Android\google\GoogleSpeech2\app\src\debug\proto: warning: directory does not exist.
D:\Android\google\GoogleSpeech2\app\build\extracted-protos\debug: warning: directory does not exist.
D:\Android\google\GoogleSpeech2\app\build\extracted-include-protos\debug: warning: directory does not exist.

[2016-07-29 02:28] zhangkun83 commented on #89
It seems you are using a recent version of protobuf, which has split the lite codegen to be a separate binary. Try this:
[code]

[2016-08-03 17:50] #89 closed

[2016-08-03 17:54] zhangkun83 commented on #88
What's the issue with single desc file?

[2016-08-04 00:43] tabiul commented on #88
There is no problem per say. I wanted to have a single desc file per proto file so that when I send a self descripting message then all I need to do is read that file only. With a single desc file I have to read the full file and then iterate it to find the right descriptor for the message. Please go ahead and close the issue and it is one of good to have thing :)

[2016-08-04 00:43] #88 closed

[2016-08-08 12:37] mxk commented on #84
I assume that this is the change we should make:
[code]

When I do that, I get `--java_out: rpc.proto: Unknown generator option: lite` and a whole bunch of warnings about missing directories (`src\main\proto`, `build\extracted-protos\main`, `build\extracted-include-protos\main`, etc.). I don't know why it's even checking `src\main\proto` because my proto files are here:

[code]

[2016-08-08 14:58] mxk commented on #84
Finally got it working. First, Windows Defender (MSE on Win7) identifies protoc-gen-javalite-3.0.0-windows-x86_64.exe as Trojan:Win32/Repjexi. This used to be the case for protoc 3.0.0 as well. You just need to allow it.

Second, [protobuf release notes](https://github.com/google/protobuf/releases) say that we should use `--javalite_out` instead of the `lite` option, but if you add `javalite {}` t

[2016-08-08 17:00] ejona86 commented on #84
That snippet looks about right, and resembles what [we're doing for grpc](https://github.com/grpc/grpc-java/blob/v1.0.x/examples/android/app/build.gradle).

[2016-08-09 23:21] zhangkun83 commented on #83
@twasilczyk the NPE is an issue only if `testProjectAndroid` enables Jack, and it's not a bug in the plugin. I am closing this issue. Feel free to reopen it if it's not the case.

[2016-08-09 23:21] #83 closed

[2016-08-09 23:23] zhangkun83 commented on #69
@matty do you still have the issue? It would be useful if you can provide me a demonstration project.

[2016-08-09 23:25] zhangkun83 commented on #35
Resolved in #86

[2016-08-09 23:25] #35 closed

[2016-08-09 23:52] zhangkun83 commented on #84
@ejona86 now that javalite has become a plugin, I am wondering whether and how we should continue applying default outputs, especially for Android. I am consider two options:
 1. Reconstruct the `protoc-gen-javalite` artifact spec out of the `protoc` spec, but this is hacky and doesn't always work, e.g., if a local protoc is specified.
 2. Always generate full proto by default, even for Android. P

[2016-08-11 17:12] zhangkun83 commented on #84
Talked with @ejona86, we both agree that it's better to *not* generate for lite by default.  The full proto is undesirable in most Android project too.  We will just stop defaulting to any output for Android.

[2016-08-12 23:02] zhangkun83 commented on #39
Protobuf 3.0.0 now provides the lite codegen as an individual plugin, which puts us in an interesting situation -- do we want to treat the lite codegen specially so that its version is also inferred from the protobuf library version?

There is another question that I initially overlooked.  The protoc spec is per-project, but source sets define their compile dependencies separately, so theoreticall

[2016-08-13 08:49] mdusina opened #92 "proto2 and javalite"
Similar to #89 , I'm having issues upgrading from protobuf 3.0.0-beta-3 to 3.0.0 because of the javalite split.  I'm wondering if proto2 lite API is even supported anymore?  The [protobuf release notes](https://github.com/google/protobuf/releases/tag/v3.0.0) for 3.0.0 specifically calls out the Lite runtime, but only mentions proto3 syntax.

General project structure:
Protos are in java projects
A

[2016-08-14 06:55] olegshulyakov opened #93 "Add support java_multiple_files option"
Protoc supports java_multiple_files to generate separate files for separate classes.
This will prevent inner class generation.

Please add support this option into plugin.

[2016-08-14 15:01] zhangkun83 commented on #93
AFAIK `java_multiple_files` as a protoc command line option is [only supported in nano](https://github.com/google/protobuf/tree/master/javanano).  Please refer to [this example](https://github.com/google/protobuf-gradle-plugin/blob/dc85c957a7f17377a016042684edf0a57c9fe107/testProjectAndroid/build.gradle#L86) on for how to apply it.

If you are not using nano, add this line to your `.proto` file in

[2016-08-14 15:01] #93 closed

[2016-08-14 21:53] carl-mastrangelo opened #94 "Add documentation to clarify gradle deps for android."
When trying to use with Android studio, an exception is raised:

[code]

This is confusing, as the documentation for protobug gradle plugin says it needs Gradle 2.12, which is clearly in the default build.gradle:

[code]

The problem is that "2.1.2" is visually similar to "2.12".  The solution is mentioned [here](https://developer.android.com/studio/releases/gradle-plugin.html#updating-gradle).  `

[2016-08-15 15:03] philwilkinson opened #95 "Warning message for Gradle 3.0"
Using the latest Gradle version (released today!) The following message is output...

`You are using Gradle 3.0:  This version of the protobuf plugin works with Gradle version 2.12+
`

The source of the message is here...
[ProtobufPlugin.groovy#L68](https://github.com/google/protobuf-gradle-plugin/blob/fd4620f26d16f4dc5c869477153a6f50e533a08c/src/main/groovy/com/google/protobuf/gradle/ProtobufPlug

[2016-08-15 17:34] zhangkun83 commented on #94
Are you suggesting in addition to document that "Gradle 2.12" is required, we also add reference to instructions on how to check and upgrade Gradle version?

[2016-08-15 18:20] #84 closed

[2016-08-15 18:54] zhangkun83 commented on #92
@mdusina I have just added [testProjectLite](https://github.com/google/protobuf-gradle-plugin/tree/master/testProjectLite) that verifies javalite does generate files.

@xfxyjwf it seems the javalite plugin is not generating files for him. Is it because his use of proto2 syntax?

[2016-08-15 19:16] xfxyjwf commented on #92
I don't think proto2 syntax is a problem. The lite plugin should work with both proto2 and proto3 syntax.

[2016-08-15 21:41] zhangkun83 commented on #92
This is interesting.  When it complains about duplicate classes, can you check if the lite classes are generated?

[2016-08-16 05:02] sayrer opened #97 "New Release?"
0.7.8 or 0.8.0 would be nice.

[2016-08-16 05:04] zhangkun83 commented on #97
What particular change are you expecting?

[2016-08-16 08:07] sayrer commented on #97
I want to use javalite and grpc 1.0.0-pre. The only way I can get it to work right is with

[code]

[2016-08-16 16:33] zhangkun83 commented on #97
0.7.7 also works. Use the following snippet:
[code]

That said, a 0.8.0 release will happen soon, though it probably won't bring any new features, rather than a behavior change (#91) to align with the recently released protobuf 3.0.0.

[2016-08-16 16:43] zhangkun83 commented on #25
As far as I can tell, this feature has been well used by API services that publish protos as artifacts. We can spare it for now :)

[2016-08-16 16:43] #25 closed

[2016-08-16 18:27] #95 closed

[2016-08-16 18:35] zhangkun83 opened #98 "Deprecation warning when used with Gradle 3.0"
The warning says: `The TaskInputs.source(Object) method has been deprecated and is scheduled to be removed in Gradle 4.0. Please use TaskInputs.file(Object).skipWhenEmpty() instead.`

[2016-08-17 22:58] #98 closed

[2016-08-18 14:54] zhangkun83 commented on #97
It's now released.

[2016-08-18 14:54] #97 closed

[2016-08-21 03:18] mdusina commented on #92
(Apologies for the delay, this is a personal project where I'm trying to teach myself Android Studio, Android development, and gradle all at once).

I think I know what happened.  The builder API for maps seems to have changed in 3.0.0.  Instead of `proto.getMutableFoo().put(1, 2)`, it's now `proto.putFoo(1, 2)` (which, admittedly, is a much nicer way of working with map builders).  For some reaso

[2016-08-21 03:18] #92 closed

[2016-08-23 20:53] sreich opened #100 "Not working out of box with kotlin plugin"
gradle version: 3.0
protobuf-gradle-plugin version: 0.8.0

having some problem with utilizing this in my project, it seems that although i can invoke the './gradlew generateProto' task myself, and then run a ':build', which would work just fine...it does not do this by itself.

i was a bit surprised, because the other examples i've seen, they don't need to specify a dependency on that task or anyt

[2016-08-27 15:47] sreich commented on #100
looks like i was able to fix this, although it's possibly a bit of a hack/workaround. maybe it doesn't like kotlin?

newer version that works https://github.com/sreich/ore-infinium/blob/627739e7274cebc01e76764837651b3c95473b9f/build.gradle

tl;dr:

added a

compileKotlin {
dependsOn(':core:generateProto')
}
at project(":core")'s top level, that solved the issue of it not getting generated. the nex

[2016-08-28 03:53] JiongBull opened #101 "Error:Execution failed for task ':pg_net_protocol:generateReleaseProto'."
unlike #89, i can't use lite feature, because `Any.unpack()` in proto3 only support `com.google.protobuf.Message` instead of `com.google.protobuf.MessageLite`.

How to set build.gradle?

[code]

[code]

[2016-08-28 21:50] zhangkun83 commented on #101
I suppose you want to use the full proto runtime. For Android projects the `java` builtin is not added by default, so you have to add it yourself:
[code]

[2016-08-28 21:50] #101 closed

[2016-08-28 22:28] zhangkun83 commented on #100
The protobuf plugin makes `compileJava` depend on `generateProto`. It works for Java projects. IIUC in Kotlin projects, `compileJava` also depends on `compileKotlin`.

In your case `compileKotlin` uses the proto generated classes, but it doesn't have a dependency to `generateProto`, thus it failed.

Ideally, the protobuf plugin should do the same thing to `compileKotlin` as it does to `compileJava

[2016-09-22 04:42] mdusina commented on #92
[FYI](http://stackoverflow.com/questions/39609980/android-studio-2-2s-incremental-compiler-cant-see-generated-protobufs)

This appears to be true for the new release to the stable channel -- Android Studio 2.2.  I upgraded yesterday and can't get Android Studio to recognize any of the proto imports (in Java classes).  I can still run tests and deploy apk's just fine.  The IDE insists the symbols f

[2016-10-06 20:51] ericcrahensc opened #103 "gradle 3.0 bugs"
Using gradle 3.0 this breaks, used to work just fine:

[code]

The error is:

Caused by: groovy.lang.MissingMethodException: No signature of method: org.gradle.api.internal.tasks.DefaultTaskInputs.skipWhenEmpty() is applicable for argument types: () values: []
        at org.codehaus.groovy.runtime.ScriptBytecodeAdapter.unwrap(ScriptBytecodeAdapter.java:58)
        at org.codehaus.groovy.runtime.c

[2016-10-07 18:37] zhangkun83 commented on #103
This is strange. The plugin itself is built and tested on Gradle 3.0.
Are you using the 3.0 release (not one of the release candidates)?

[2016-10-07 18:51] ericcrahensc commented on #103
Yea. I just updated to 3.1 and it worked. Something must have changed in there

[2016-10-07 19:44] #103 closed

[2016-10-28 10:41] codespear opened #105 "Specify value for --proto_path?"
I have been given a .proto file (file X) that imports another .proto file (file Y).  Unfortunately, file X and file Y are not in the same directory.  From the command line I provide the *--proto_path* argument to *protoc* to fix this when generating the source for file X.

How can I tell the protobuf-gradle-plugin about this path?

[2016-10-28 20:58] ejona86 commented on #105
Why don't you just build the directory tree in `src/main/proto`?

Assuming you have, `src/main/proto/my/package1/messages.proto`, then in `src/main/proto/my/package2/messages2.proto` you would `import "my/package1/messages.proto"`.

[2016-10-28 21:00] ejona86 commented on #105
If you are using proto's across projects, a compile dependency should automatically make them available.

[2016-10-29 05:44] codespear commented on #105
@ejona86:  Thank you for the help.

The root cause of my problem is that the proto files I am given as input to my build have a tree structure that makes things difficult.

Because of this (and other problems), I decided to implement an [incremental custom task type](https://docs.gradle.org/current/userguide/custom_tasks.html) that calls *protoc* directly.  This approach is obviously not ideal.

I

[2016-10-29 05:44] #105 closed

[2016-11-23 23:39] Gericop opened #107 "Import in proto seems broken"
I have the following structure of proto files in my Android module:
[code]
The `mobile.proto` imports the other four in that folder. The individual files under the `mobile` folder don't import anything, yet it compiles in Node.js.
I tried to copy the same structure to the given directory in Android and there's no way of compiling it successfully. It seems like the "import" system is just messed up

[2016-11-25 03:20] coderlindacheng opened #108 "how to exclude *.proto to resource"
hi, i wanna konw how to exclude *.proto to resource just by configuring this plugin.or i must write another task to do so?

[2016-11-30 13:30] TomDePauw opened #109 "generated files should be added to gradle sources"
now we need a hack to get things working in eclipse or intellij, same when publishing to maven (-sources.jar files).
for eclipse, maven-publish, .. i use in my project:

[code]

It would be handy if the plugin added these files to the sources.

[2016-11-30 17:40] zhangkun83 commented on #108
Sorry, can you elaborate your scenario and requirements?

[2016-11-30 17:49] zhangkun83 commented on #107
Please provide the following information:
 1. The import lines of the proto files in question;
 2. The directory structure of `extracted-include-protos`;
 2. The output of `./gradlew clean build --info | grep 'protoc[^ ]*\.exe'`

[2016-11-30 17:59] zhangkun83 commented on #109
The directories of generated sources can be altered by the configurations in the `protobuf` block, which takes effect **after** the evaluation phase, I am not sure whether IDE will pick up the changes. Have you tried the tips from the **IntelliJ IDEA** section in the README?

[2016-12-01 08:15] TomDePauw commented on #109
yes i used that to make a similar thing for eclipse

[code]

But what i want to do is publish the project to a local maven repo. That also works, but if i want the sources to also publish to the repo, they need to be available. So i need a similar 'hack' for that, or the java files need to be added to the gradle sources. Like the example i gave in my first post. Doing that fixes the IDEA/eclipse a

[2016-12-02 16:59] TomIsYourName commented on #101
@zhangkun83 @JiongBull  I have the same issue here, how did you guy fixed it ?

[2016-12-08 16:19] rocketraman commented on #107
Same issue here. @zhangkun83 , you can simply reproduce it with a directory structure and files as follows:

[code]

[code]

[code]

[2016-12-11 20:14] luistrigueiros opened #110 "Doc generation integration"
The plugin is awesome I love it, it would be nice if it would also generate the documentation from the proto file based for example in proto-gen-doc.

Thanks,
 Luis Oscar

[2016-12-12 17:50] ejona86 commented on #110
`protoc-gen-doc` should work fine today with this gradle plugin. Simply specify a protoc plugin, like is done for [`grpc` in the readme](https://github.com/google/protobuf-gradle-plugin#locate-external-executables). Since `protoc-gen-doc` doesn't appear on Maven Central, you will need to specify a `path` instead of an `artifact`.

[2016-12-18 22:39] luistrigueiros commented on #110
Could you point me to an example that does this. Thank you.

On Mon, Dec 12, 2016 at 5:50 PM, Eric Anderson <notifications@github.com>
wrote:

[2016-12-29 19:21] jimht011 commented on #41
Seems this reported issue was closed but no further solution. Is this resolved in latest version? We got same issue even after copy the code to the path.

[2016-12-29 19:28] zhangkun83 commented on #41
@jimht011 it would be very helpful for my investigation if you could provide a minimal example project that reproduces this issue.

[2016-12-29 20:05] jimht011 commented on #41
Thanks Zhang, I'll upload steps shortly. Since this source code comes from tensorflow 0.9, I think it will be a little easy to be reproduced.

[2016-12-29 23:31] NachoSoto opened #111 "IntelliJ: generateProto task not executed when building from the IDE"
I reproduced this in `exampleProject`: running `gradle build` runs the `generateProto` task, because that's a dependency:
[code]

However, a simple run configuration defined in IntelliJ like this:
<img width="974" alt="screen shot 2016-12-29 at 3 25 50 pm" src="https://cloud.githubusercontent.com/assets/685609/21557028/5de1f4e4-cddb-11e6-9591-45f5c4d0c118.png">

Does not automatically generate the

[2017-01-02 22:53] NachoSoto commented on #111
Update: in fact I can't make this work now. This is my flow:
- Clean everything.
- Build in IntelliJ.
  - Protobuf classes aren't generated (like I showed).
- Run `./gradlew generateProto`.
  - Classes are generated in the correct folder.
  - IntellIJ shows that my `import corsac.message.Responses;` is correct (not red).
  - Despite that, IntelliJ shows the following build error: `Error:(18, 22) j

[2017-01-02 22:56] NachoSoto commented on #111
This is my gradle config:
[code]

[2017-01-03 19:23] anshu56 opened #112 "protobuf-lite as recommended library for Android"
This isn't to report an issue so much as ask a question, but I wasn't sure what better format to do it in. I see with version 8.0.0 you've stated that protobuf-lite is the recommended Android implementation instead of Javanano. (https://github.com/google/protobuf-gradle-plugin/commit/467ca264c16148f6c1486843599081b8ab22933a#diff-04c6e90faac2675aa89e2176d2eec7d8R324)

My company is incorporating Pr

[2017-01-03 21:57] zhangkun83 commented on #112
@pherl is the tech lead of the protobuf team. He can give you an authoritative answer.

[2017-01-03 22:13] NachoSoto commented on #111
Another data point: if I remove the `import` to get it to compile successfully, I can see that the `generated` sources created by Protobuf do not end up in the `build` directory (those generated by `ant` do, however):

<img width="235" alt="screen shot 2017-01-03 at 2 12 10 pm" src="https://cloud.githubusercontent.com/assets/685609/21625049/a280ac12-d1be-11e6-9e2a-dbc683dcebd9.png">

<img width="1

[2017-01-03 23:05] NachoSoto commented on #111
Okay I've fixed all the issues and managed to get this back to a point where it _works_ by moving `generated` back to the `build` directory. I'm not sure why that matters, but it's fine for me.
The main issue still stands: I need to manually run `./gradlew generateProto` from the command line, but I'd love to be able to have these generated automatically when building from the IDE.

[2017-01-04 18:47] pherl commented on #112
Protobuf Lite is the recommended implementation for Android. The compatibility notes need some update. There are lots of on-going improvement, and the master head will not be fully compatible. However,  all the lite release will be from the "lite" branch. When the next generation of lite is stable, we will probably release a 4.0 release, with migration path for 3.x lite users.

[2017-01-05 01:43] anshu56 commented on #112
Thanks for clearing that up! @pherl is there already a timetable for a 4.0 release, or is it too early for that?

[2017-01-05 17:14] IgorGanapolsky opened #113 "Cannot run program "protoc""
Hello,
I installed **protoc** compiler on my Mac, as per instructions on https://developers.google.com/protocol-buffers/docs/javatutorial.  However, when I try to apply your plugin, I get this error:

Any ideas?

[2017-01-05 17:25] IgorGanapolsky commented on #113
The solution is actually outlined in this issue: https://github.com/google/protobuf-gradle-plugin/issues/89

[2017-01-05 17:25] #113 closed

[2017-01-05 18:54] pherl commented on #112
It's too early for that. I would say at least one year from now.

[2017-01-13 11:48] nesterov-n commented on #100
@zhangkun83 Hello. I figured out that protobuf gradle plugin doesn't work out of box with kotlin android projects too.
I made a simple example https://github.com/nesterov-n/KotlinProtobufExample
`Message.java` is generated from `Message.proto` and can be used in java code. But using it in kotlin code finished with `Unresolved reference: Message`
In android project `generateProto`task is called bef

[2017-01-24 08:20] wangyuntao commented on #108
You could use:
[code]

[2017-02-03 05:35] newnexus opened #114 "Add some more information on how to add this source to gradle"
Would like a more in depth explanation on which files i should put and where, when using android studio + gradle.  when i open up studio directory I only see Android Studio\gradle\gradle-2.8 in that case should i duplicate directory for previous gradle version?

[2017-02-03 17:12] zhangkun83 commented on #114
I don't understand your question. Are you asking where to put your `.proto` files?

[2017-02-04 00:30] newnexus commented on #114
nope, I know how to compile .proto files to jave class, but thing is in examplary "adress book" project some of methods are not found, for example com.google.protobuf.ExtensionRegistryLite registry)("cannot resolve symbol 'protobuf')  so my guess was that i put source from plugin in wrong place,  correct me if i'm wrong please.

[2017-02-05 13:18] luistrigueiros opened #115 "JS Generation example project"
Hi

Where can I find one example project that generates both Java & Javascript ?

Thank you, kindly
  Oscar

[2017-02-06 17:58] zhangkun83 commented on #114
`com.google.protobuf.ExtensionRegistryLite` is from the protobuf jar. Do you have `com.google.protobuf:protobuf-java:<the protobuf version you are using>` in your `compile` dependencies?

[2017-02-06 18:18] zhangkun83 commented on #115
According to https://developers.google.com/protocol-buffers/docs/reference/javascript-generated, `js` is a built-in output of `protoc`. You can do this to generate JS in addition to Java:

[code]

[2017-02-06 18:18] #115 closed

[2017-02-07 03:51] newnexus commented on #114
yes, i followed manual and compiled a protobuf-java-3.0.0.jar and dropped it in libs directory, protoc --version > libprotoc 3.0.0. but some other changes have made it worse now it got stuck again at [http://stackoverflow.com/questions/39284797/android-studio-and-protobuf-error7-0-plugin-with-id-com-google-protobuf-no](url), compiling example project with command line instead of using android stud

[2017-02-16 00:39] matthewrj opened #116 "Transitive protobuf dependencies"
I have two artifacts published to a maven repo. Both are zips of proto files. The pom of one declares the other as a dependency. When I try depend on just the parent, the child dependency is ignored.

Is this a limitation or have I done something wrong?

[2017-02-16 00:43] zhangkun83 commented on #116
It might be a bug. Where are your artifacts that I can test with?

[2017-02-16 01:17] matthewrj commented on #116
They are in a private company repo and I unfortunately cannot publicly expose them. I actually discovered it works using a "compile" dependency but doesn't work using a "protobuf" dependency. How does a "protobuf" dependency differ from a compile dependency?

[2017-02-16 01:30] matthewrj commented on #116
To distinguish between protobuf and compile dependencies (so I can publish them separately) my workaround for this issue is to add:
[code]

[2017-02-16 01:41] zhangkun83 commented on #116
I suspect this is due to [a line](https://github.com/google/protobuf-gradle-plugin/blob/v0.8.0/src/main/groovy/com/google/protobuf/gradle/ProtobufPlugin.groovy#L132) that sets `transitive` to `false`. I have pushed a snapshot that changes it to `true`. Can you try it out:
[code]

[2017-02-16 01:46] matthewrj commented on #116
Yes that fixes it

[2017-02-16 18:25] #116 closed

[2017-02-26 12:06] SetoKaiba opened #118 "Android Studio java project doesn't work with idea plugin."
idea {
    module {
        sourceDirs += file("${protobuf.generatedFilesBaseDir}/main/java");
        // If you have additional sourceSets and/or codegen plugins, add all of them
        sourceDirs += file("${protobuf.generatedFilesBaseDir}/main/grpc");
    }
}

This is working with java project in IDEA.
But it's not working with java project in Android Studio.

[2017-02-28 22:51] jivk commented on #21
Hi, is this support in the plugin now?

[2017-02-28 23:40] zhangkun83 commented on #21
No, it's not yet done.

[2017-03-01 12:02] jivk commented on #21
I like being able to build native using gradle.  We need the facility to be more functionally rich though.

Right now we are having to do the following:

`	    def incs = 'pkg-config fix8 boost spdlog libpq --cflags'.execute()
            incs.waitFor()
            def incFlags = incs.in.text.trim()
            cppCompiler.args.addAll(incFlags.tokenize(' '))

            cppCompiler.args << "-I${p

[2017-03-01 23:01] jivk commented on #21
Would appreciate some thoughts/suggestions on this.

[2017-03-02 06:13] yaraki commented on #15
Is this feature available for protobuf-lite?

[2017-03-02 18:58] zhangkun83 commented on #15
No. protobuf-lite doesn't provide those well-known protos.

[2017-03-02 19:32] ejona86 commented on #15
@yaraki, https://github.com/google/protobuf/issues/1889

[2017-03-07 08:09] Jacksgong commented on #100
@nesterov-n I have the same problem with you.

[2017-03-07 08:23] Jacksgong commented on #100
@nesterov-n I have the same problem with you, then I have to execute `./gradlew extractDebugProto` before execute `./gradlew assembleDebug` to solve such problem.

[2017-03-10 04:04] SetoKaiba commented on #118
Hi. Anyone?

[2017-03-10 04:23] SetoKaiba commented on #118
generatedFilesBaseDir = "$projectDir/gen"

Okay. I see. I have to move the generated folder outside the build folder. Or it won't be recognized.

[2017-03-10 18:27] zhangkun83 commented on #118
I am glad you figured it out. Sorry I don't use those IDEs and I was unable to help.

[2017-03-10 18:27] #118 closed

[2017-03-13 08:31] Jacksgong commented on #100
@nesterov-n You can get the temporary solution on [here](https://github.com/Jacksgong/grpc-android-kotlin) for Android with kotlin and protobuf.

[2017-03-16 15:59] julioromano commented on #51
@pgracio How did you solve your issue? I'm running into the same problem:
`annotations.proto` is not in the `build/extracted-include-protos` directory.
I've tried including many different compile dependencies without success.

[2017-03-16 16:07] julioromano commented on #51
It runs out I was missing this compile dependency:

`com.google.api.grpc:googleapis-common-protos:0.0.3`

[2017-03-20 11:38] Cangol opened #120 "java.lang.NoSuchMethodError: No virtual method makeImmutable()"
java.lang.NoSuchMethodError: No virtual method makeImmutable()

 static {
      DEFAULT_INSTANCE = new Kline();
      DEFAULT_INSTANCE.makeImmutable();
    }

[2017-03-20 15:23] zhangkun83 commented on #120
This doesn't look like a bug report to the plugin.

[2017-03-20 15:23] #120 closed

[2017-03-28 01:14] Gericop commented on #107
Any news regarding this issue?

[2017-03-28 16:04] zhangkun83 commented on #107
@rocketraman I don't think it's simply the case. Please take a look at the `exampleProject`. Its protos have imports from different directories, and it compiles (try `../gradlew build`). It will be helpful if you could provide me a standalone project to demonstrate the issue.

[2017-03-28 23:12] rocketraman commented on #107
@zhangkun83 Indeed, it does seem to work correctly. I believe the issue was that the package declarations in the `.proto` files did not match the path in the `src/main/proto` directory. So, using my original example, it works if it is changed to something like:

[code]

[code]

[code]

[2017-03-30 20:18] zhangkun83 commented on #107
I was not aware protoc had such requirement. Anyway, it doesn't seem to be an issue of the plugin.

[2017-03-30 20:18] #107 closed

[2017-04-04 21:43] passsy commented on #100
I created a separate (java) module for the proto files and include it in my android project with Kotlin.

proto module `build.gradle`
[code]

app `build.gradle`
[code]

`settings.gradle`
[code]

[2017-04-12 13:51] mindas opened #123 "Preventing incoming .proto dependencies against generating classes twice"
I have two Java projects which contain .proto files, let's call them `parent` and `child`.

`parent` has some shared definitions in `common.proto` which is exported in its jar together with generated .class files. Then both classes and common.proto from `parent` are imported in `child`'s `build.gradle`:

[code]

This way I do not need to redefine the same common bits in `child` project. So far so

[2017-04-12 15:56] zhangkun83 commented on #123
You shouldn't need to have `protobuf 'parent:someversion'`. The `compile` dependency makes all packaged protos available for import in `child` without re-compiling them.

[2017-04-12 16:01] mindas commented on #123
Sorry if I haven't expressed myself clearly, but even if I remove the `protobuf 'parent:someversion'` dependency, `gradle build` does generate classes from parent's common.proto. Is there a way to suppress that?

[2017-04-12 16:14] zhangkun83 commented on #123
This shouldn't happen. We have a [test project](https://github.com/google/protobuf-gradle-plugin/blob/master/testProjectDependent/build.gradle) for this behavior. If you could share with me your project or a minimal test project to reproduce this issue, I can look into it.

[2017-04-13 13:20] mindas commented on #123
Sorry, you are right - my problem was caused by stale jars. Thanks for your help, appreciated.

[2017-04-13 13:20] #123 closed

[2017-04-17 17:23] noel-yap opened #124 "How to tell the protobuffer Gradle plugin not to generate protogen files?"
https://stackoverflow.com/questions/43456176/how-to-tell-the-protobuffer-gradle-plugin-not-to-generate-protogen-files

I've created a proto plugin. When I execute: `protoc --plugin=protoc-gen-grpc-java=grpc-client-guice-gradle-plugin --grpc-java_out=build/generated/source/proto/client/java --proto_path=../snth-proto-definition/src/main/proto:../snth-proto-definition/build/extracted-include-protos/

[2017-04-17 17:32] zhangkun83 commented on #124
Answered on the SO post.

[2017-04-17 17:32] #124 closed

[2017-04-19 14:53] naugler commented on #109
I have this same issue. Explicitly adding the generated sources seems like a far simpler way to get the IDEs to understand. Tom's [first comment](https://github.com/google/protobuf-gradle-plugin/issues/109?_pjax=%23js-repo-pjax-container#issue-192565917) resolves issues in eclipse AND netbeans.

If the IDEs are parsing build.gradle to understand project structure I'm not sure how the protobuf-grad

[2017-04-24 15:16] tjoneslo opened #125 "Make the generation and/or execution of the extractIncludedProto task smarter"
I have a large, multi-project gradle build with the follow scenarios:

project1: Has protos to generate, but no dependencies that include protobuf files
project2: Has protos to generate, and a dependency on project1/external dependency that includes protos, but project proto's don't include any in project1 (no external protos)
project3: Has protos to generate, and a dependency on project1/external

[2017-05-13 19:06] sindhuvyshaki commented on #24
This is a valid bug. At any cost, jooq clean task should not delete existing source files. I cannot reopen this bug. Perhaps I will file a new one.

[2017-05-13 19:09] sindhuvyshaki opened #127 ""./gradlew clean" should remove files from generated source dirs"
`plugins {
    id 'nu.studer.jooq' version '2.0.6'
}`

Running `gradle clean build` removes "ALL" the source files in the corresponding source directory and not just the files in the designated generation package.
`target {
               packageName = 'com.xx.xx.model'
               directory = 'src/main/gen'
           }`

Since the package itself is provided, the clean task should only remove

[2017-05-13 19:11] #127 closed

[2017-05-14 01:04] emperorcezar opened #128 "Documentation unclear on what task to call to generate"
Only by digging did I find that I could run `gradle generateProto`. Is this something that should be in the documentation?

[2017-05-15 17:22] zhangkun83 commented on #128
The task name is intentionally kept undocumented, because it's subject to change. `generateProto` is invoked automatically by `compileJava`. Why do you want to run it manually?

[2017-05-15 17:38] emperorcezar commented on #128
Probably my lack of Java experience, but I'm using protobufs/grpc in my
clojure project. All I want is the generated code for the protobufs. I
didn't see the `compileJava` command called out in the docs either.

-------------------------------------------------------------------------------------------------------------
Father, Pythonista, Cyclist, Brewer. Dabbling in Clojure and Functional
Langua

[2017-05-15 17:51] zhangkun83 commented on #128
`compileJava` is defined by Gradle, and you don't normally run it directly either. Instead you would run `build` and it will invoke `compileJava` which will invoke `generateProto`.

[2017-05-15 17:53] emperorcezar commented on #128
That makes sense. Thanks for your help.

[2017-05-15 17:53] #128 closed

[2017-05-18 09:46] manderson23 commented on #109
I also added the following entry alongside withXml to prevent duplicate entries for the generated source if the eclipse tasks is run multiple times

`beforeMerged {
        classpath -> classpath.entries.removeAll { entry -> entry.kind == 'src' }
      }`

[2017-05-19 11:29] TonicArtos opened #129 "Error on build in Android Studio 3 Canary & Gradle 4"
Just testing the new canary release of Android Studio 3, and I am getting this error on build.
[code]
It might be possible to work around in `app/build.gradle` with the protobuf compilation configuration. However, my gradle-fu is insufficient to figure it out right now.

[2017-05-19 16:36] zhangkun83 commented on #129
Looks like it's what #121 set out to fix.

[2017-05-29 16:52] dsvoronin commented on #129
Seems like #121 is not enough, compile tasks fires before generateXProto

[2017-05-31 14:03] psionic12 opened #130 "Using --proto_path explicitly"
For some reason, My project uses proto files which is shared with other projects. There are lots of files which has code like this:`import "pus/push_message.proto"`, this will get error in compiling if I put the proto files in src/main/proto. Before I use plugin to generate proto classes, this issue could be fixed by using `--proto_path` in command line, but this seems not be supported in this plu

[2017-05-31 16:36] zhangkun83 commented on #130
Are their generated Java files also shared, or just the proto file?

[2017-06-01 02:08] psionic12 commented on #130
@zhangkun83 generated files are private, do you mean to give up the plugin and use protoc instead?

[2017-06-01 06:06] zhangkun83 commented on #130
No, the plugin supports either case. Either way the protos need to be included in the output of a subproject or an artifact (jar file), then you can put that subproject or artifact in the `protobuf` or `compile` of the project that imports those protos. [Protos in dependencies](https://github.com/google/protobuf-gradle-plugin#protos-in-dependencies) from the README explains this feature.

[2017-06-01 06:06] #130 closed

[2017-06-01 07:24] psionic12 commented on #130
It's not about dependencies. My report seems not clear enough, here's more details:

My proto files are placed in src/main/proto, in protos there are statements like this: `import "proto/push/push_message.proto"`. If I use the normal way to generate java classes, gradle will report not found proto/push/push_message.proto. Currently I change the proto file to `import "push/push_message.proto"` and

[2017-06-01 15:58] zhangkun83 commented on #130
No, the plugin doesn't allow you to specify `--proto_path` explicitly. I would suggest you update the other project to include the path in the `import` statement.

[2017-06-05 04:50] wilsonssss commented on #101
the same issue,  any body found solution?

[2017-06-26 19:48] alfasapy commented on #111
I would also like to see this issue resolved.

As a temporary workaround:
Open Gradle view
Find generateProto task
Right click and mark task to "Run before make"

Every time you press Make you will be running the generateProto task

Other options:
Setup protoc locally (for OS X you can use HomeBrew) and configure the proto plugin in IDEA.
I believe there is also an option for Make to delegate to G

[2017-06-26 21:36] LouisCAD commented on #129
It's been more than a month since the issue has been reported. Should we move off the gradle plugin, using the plain old CLI, or can we expect the fix to be released in one-two weeks so we can test our projects with Android Studio Canary before it comes to the "stable" channel?

[2017-06-26 21:43] zhangkun83 commented on #129
@rschiu from the Android plugin team is working on the fix #121 . Please follow up with him wrt time line or any other concerns and questions.

[2017-06-28 18:32] AshleyByeUK opened #131 ":generateProto fails with directory not found when importing other proto definitions"
When I run the `:generateProto` task, I get the following error:
[code]
This only occurs when I try to compile a definition that imports other definitions. If I remove the [service-definitions.proto](https://github.com/vert-x3/vertx-examples/blob/6647064e8a7afab08fa1165c3a55581ebdbb6cd2/grpc-examples/src/main/proto/service-definitions.proto#L1-L35) definition, the others compile and sources are ge

[2017-06-28 19:49] AshleyByeUK commented on #131
Okay, after much head scratching, the clue was in the last two lines of the error message:
[code]
In my proto definitions, I had specified messages and empty to be in the messages package but hadn't qualified the types when used in the importing definition, which is in the services package. Alas, a simple change and it works:
[code]
Becomes:
[code]
I think that's even documented...

[2017-06-28 19:49] #131 closed

[2017-07-07 16:56] noel-yap opened #132 "The task `compile*StaticLibrary*Cpp` should be made automatically dependent on the task `generateProto`."
Otherwise, the latest generated source isn't compiled.

[2017-07-09 14:45] BulatMukhutdinov opened #134 "Tests failed when generate jacoco report"
Hi!
When run tests as usual everything is OK. But when run jacoco test coverage report in methods that use grpc generated classed I have an exception
java.lang.NoClassDefFoundError: Could not initialize class api.Api$GetBalanceRequest

How can I fix it?

[2017-07-10 16:07] zhangkun83 commented on #134
If you could share your project, or a minimal project that can reproduce this issue, it could help our investigation.

[2017-07-10 16:42] ejona86 commented on #134
In grpc-java we do use the protobuf plugin and the jacoco plugin at the same time and haven't seen any issue. So the project would be very helpful.

[2017-07-11 15:13] BulatMukhutdinov commented on #134
Here is the example. When just run the tests - everything is ok.
But if try gradlew jacoco - it fails with
java.lang.NoSuchMethodError: api.Api$IsUniqueUsernameRequest.makeImmutable()V

[2017-07-12 17:04] ejona86 commented on #134
@BulatMukhutdinov, that error is really interesting, because it seems a classpath problem unrelated to the code generator. Also, the jacoco task isn't failing; it is testDebugUnitTest that is failing. The top of the stack trace is important:
[code]

That shows that the generated code (which contains `api.Api$IsUniqueUsernameRequest.<clinit>`) was found. The `makeImmutable()` method is an inherited

[2017-07-12 21:05] noel-yap opened #135 "Plugin not adding to `sourceSets.main.java.srcDirs`"
This causes IDEs not to see the generated source. I'm wondering if that has to do with the following:

[code]

If so, is there a way to `remove java` but still have the output directories automatically added to `srcDirs` without explicitly doing it ourselves?

[2017-07-12 22:37] rschiu commented on #129
@dsvoronin Can you explain why you think #121 was not enough?  Is the task dependency incorrect after the fix?

[2017-07-13 06:17] BulatMukhutdinov commented on #134
Thank you! That was a cause of my problem. I just excluded protobuf from robolectric and it works

[2017-07-13 06:17] #134 closed

[2017-07-14 04:25] liuyuan10 opened #136 "How to let native build run after protobuf compilation"
My native ndk build depends on the protoc cpp output but gradle doesn't know about that so it sometimes runs ndk cmake build before running proto tasks. I think I can use gradle .dependsOn. What is the task name I should use for the protobuf compilation?

[2017-07-14 16:02] zhangkun83 commented on #136
The code generation tasks can be gotten by using the selectors in the `generateProtoTasks` block. For example:
[code]
There are also [other selectors](https://github.com/google/protobuf-gradle-plugin#customize-code-generation-tasks).

[2017-07-14 17:49] zhangkun83 commented on #135
If you are using IDEA, please refer to the bottom of the README for how to add generated files to source dirs.
I don't understand your snippet. If you don't generate anything, what generated source do you expect to see?

[2017-07-14 19:43] noel-yap commented on #135
Another part of our `build.gradle` generates source. Both IDEA and Eclipse aren't seeing the generated source. This leads me to suspect that `protobuf-gradle-plugin` isn't adding the generated source directories at least under certain scenarios.

We've been able to workaround the issue by explicitly adding the Java generated source directories.

[2017-07-14 20:05] zhangkun83 commented on #135
`protobuf-gradle-plugin` is unlikely the culprit.

[2017-07-14 20:05] #135 closed

[2017-07-17 00:40] bubenheimer commented on #129
I managed to work around the issue by isolating the protobuf-related code generation into a separate Android library module, and building that one with Android Gradle Plugin 2.3.2. I had to build the release variant to make it work with the main Android module. It works for my little test project, not sure about production scale.

[2017-07-17 18:49] LouisCAD commented on #129
@bubenheimer Can you show us a sample of your gradle buildfiles please?

[2017-07-17 19:35] bubenheimer commented on #129
@LouisCAD Have you tried it? The hard part was figuring out that doing it this way actually works (it does for me). Follow the sample code from the project to fill in the blanks. I have to re-sync with Gradle periodically to make it see the generated code. 2 modules (I have them in the same project, but could likely be separate projects, too):

`androidproto` module (generates Java from `.proto` f

[2017-07-17 22:50] noel-yap commented on #31
From https://github.com/google/protobuf-gradle-plugin/blob/master/src/main/groovy/com/google/protobuf/gradle/ToolsLocator.groovy#L84, it looks to me that all that's needed is for some way to override the `classifier` and `extension` fields. This solution would also be generic in that the codegen plugin can be implemented in any language. Those wanting to use Java would then follow something like h

[2017-07-17 22:56] noel-yap commented on #109
I'm running into the same issue. After some consideration, since the build itself works from the command line (ie the compilation knows about the generated sources), I'm suspecting the IDE's themselves aren't parsing correctly the Gradle files.

Anyway, explicitly adding the Java sources works around the problem in both IDEA and Eclipse and should work for any IDE.

[2017-07-17 23:44] noel-yap commented on #31
@zhangkun83 , I'd like to implement the above PR. One issue is that if we stick with the Gradle syntax described in https://docs.gradle.org/3.3/userguide/dependency_management.html#sub:classifiers, it would break backwards compatibility since existing users will have to start specifying explicitly the `classifier` part as `${os.detector.classifier}`.

The alternative is to create some other syntax

[2017-07-18 00:51] noel-yap commented on #31
Actually, I see a way to maintain backwards compatibility -- developers of the codegen plugin publish with a `classifier` (eg `jvm8`) and the `extension` can still default to `exe`.

[2017-07-18 20:20] liuyuan10 commented on #136
I made it work by

def tasksAfterProto = []
tasks.all { task ->
    if (task.name.startsWith('generateJsonModel')) {
          tasksAfterProto.push(task)
  }
}

protobuf {
    protoc {
        // The version must be the same as that of the prebuilt protobuf runtime
        // checked in with native code.
        artifact = 'com.google.protobuf:protoc:3.3.0'
    }
    generateProtoTasks {
        a

[2017-07-18 20:20] #136 closed

[2017-07-18 20:25] liuyuan10 opened #139 "How to build cpp lite"
Now I'm compiling proto for native cpp code as below:
[code]

To have cpp-lite, I can add "option optimize_for = LITE_RUNTIME;" into .proto file. But can I achieve this without changing proto file? Sometimes the same proto file is used by multiple applications. I would like to change optimize for in gradle file.

FYI, protoc accepts option like "cpp_out=lite:dir" to force a lite code generation.

[2017-07-18 22:01] noel-yap commented on #31
https://github.com/google/protobuf-gradle-plugin/pull/138

[2017-07-18 23:50] zhangkun83 commented on #139
To achieve "cpp_out=lite:dir", add one line to the `cpp{}` block:
[code]

[2017-07-19 04:21] bootstraponline opened #140 "protoc resolve weirdness"
[code]
- [googleapis/toolkit build.gradle](https://github.com/googleapis/toolkit/blob/74f4b6b3ce5481fe70d925aebeddb29e0729af62/build.gradle#L204)

` project.protobuf.tools.protoc.path` is always null. I have to explicitly resolve the configuration:

is there a better way?

[2017-07-19 16:27] zpencer opened #141 "Add codenarc linter to project"
We simply need to add `apply plugin: 'codenarc'` to the top of our `build.gradle`.

I found these rules already pass today:
https://gist.github.com/zpencer/122e3cfed072bf45a32c616d9a92391a

These rules fail and we should add fix each with individual commits:
https://gist.github.com/zpencer/0d456eb3eec36eb3298198eddb072877

[2017-07-19 16:39] zhangkun83 commented on #140
There isn't currently no better way. The path to the downloaded protoc isn't meant to be exposed. Why do you need it?

[2017-07-19 17:31] bootstraponline commented on #140
The `googleapis/toolkit` relies on setting an environment variable `PROTOC_COMPILER` to the path of the protoc executable. Previously `project.protobuf.tools.protoc.path` worked, however when I updated the plugin the result is always null.

[2017-07-20 20:37] liuyuan10 commented on #139
Cool. This works. Thanks

[2017-07-20 20:37] #139 closed

[2017-07-25 12:36] LouisCAD commented on #129
@bubenheimer Tried on AS 3.0 Canary 8, but I'm still getting the debugCompile error at gradle sync

[2017-07-25 22:05] rschiu commented on #129
@LouisCAD Can you describe your problem a bit more?  Is the error from the protobuf plugin?  Do you have a stacktrace?  Perhaps there is is other code that is trying to resolve debugCompile?

[2017-07-27 02:14] hejie commented on #129
on AS 3.0 Canary 8   protobuf

Error:Could not determine the dependencies of task ':app:extractIncludeDebugProto'.

ask for help ，thanks

[2017-07-27 12:02] pnemonic78 commented on #98
int org.gradle.api.tasks.testing.Test:

[code]

[2017-07-27 12:04] pnemonic78 commented on #98
in org.gradle.api.reporting.internal.SimpleReport:

[code]

[2017-07-28 15:59] zhangkun83 commented on #140
Is [this](https://github.com/googleapis/toolkit/issues/11) the proper reference?

Neither `project.protobuf.tools.protoc.path` nor `project.configurations.protobufToolsLocator_protoc.resolve().getAt(0)` are good ideas.
If a local protoc was set via `project.protobuf.tools.protoc.path`, `project.configurations.protobufToolsLocator_protoc.resolve().getAt(0)` wouldn't work.

We may be able to provide

[2017-07-28 16:21] zhangkun83 commented on #129
IIUC this should have been fixed in #121. I have made the `0.8.2` release to include that change.

[2017-07-28 16:23] bootstraponline commented on #140
Nope, it's [this](https://github.com/googleapis/toolkit/pull/1417)

`project.protobuf.tools.protoc.path` which works on an older version of the protobuf-gradle-plugin broke upon updating. I've switched to `project.configurations.protobufToolsLocator_protoc.resolve().getAt(0)`. We'll never use a local protoc.

That would be nice. I don't think there's any rush as we have a work around that's good e

[2017-08-01 08:54] looperhacks commented on #129
I can confirm that this issue is fixed by upgrading to `0.8.2`.

[2017-08-01 15:09] panzerfahrer opened #154 "Include path doesn't seem to be correct"
It seems that my `proto` files don't get collected during generation. I keep getting errors like the following:

[code]

While trying to debug what I might be doing wrong, I encountered the `protoc`parameter list. It includes paths to where `proto` files are expected, including `../src/main/proto`. The paths are prepended with `-I`. Cross-checking with `protoc --help` tells me that include paths s

[2017-08-01 16:29] #129 closed

[2017-08-01 16:44] zhangkun83 commented on #154
No, `PATH` in `-IPATH` is not part of the flag name, but the place holder for the actual path.

[2017-08-01 17:06] panzerfahrer commented on #154
Ok, that sounds reasonable. So, I'm doing something else wrong ;) Thanks for helping out so quick!

[2017-08-01 17:06] #154 closed

[2017-08-08 00:36] #31 closed

[2017-08-10 00:56] #141 closed

[2017-08-14 19:06] schmohlio opened #156 "Intellij unrecognized imports for Protobuf file dependencies in multi project"
Hello!

I have a project B which depends on proto files from project A.

When importing protobuf files (`compile` or `protobuf`) w/in project B, intellij doesn't seem to recognize the proto `import` statements with `file not found`. I can confirm that project A has the correct `build/resources` proto files.

Has anyone else experienced this issue?

[2017-08-14 19:21] schmohlio commented on #156
In project B, If I manually mark my `build/extracted-protos/main` directory as a "resources root", this resolves the issue. I would think that the plugin would automatically set this, though?

[2017-08-20 17:52] bootstraponline opened #158 "Impossible to generate to app/src/androidTest/java?"
I'm trying to generate protobufs for instrumentation testing. This should be an `androidTestCompile` only dependency. The folder is not fully configurable. It seems impossible to generate the Java code to `app/src/androidTest/java`.

[2017-08-20 18:33] bootstraponline commented on #158
[code]

[code]

this seems to work.

[2017-08-20 20:48] bootstraponline opened #160 "testProjectAndroid is broken"
testProjectAndroid seems broken. Doesn't work in Android Studio.

[2017-08-20 20:50] bootstraponline commented on #160
[code]

messages.proto doesn't import from helloworld.proto

[code]

[2017-08-20 21:12] bootstraponline commented on #158
wit the above patch, this gradle config works:

[code]

[2017-09-04 01:51] mos8502 opened #162 "support for android feature plugin"
Protobuf plugin currently does not support android feature modules (modules with "com.android.feature" applied. The protobuf gradle plugin hes the following plugin preconditions defined

[code]

Not sure if adding "com.android.feature" to the list is enough

[2017-09-06 16:06] zhangkun83 commented on #162
@rschiu, does it require any additional change to the protobuf plugin to work with the android feature plugin?

[2017-09-06 17:08] rschiu commented on #162
I don't believe so, although I haven't tested it.  It should be sufficient to just add the feature plugin to the list.

[2017-09-09 15:32] SetoKaiba opened #163 "0.8.3 dependency path is wrong."
https://plugins.gradle.org/plugin/com.google.protobuf

[code]

"gradle.plugin.com.google.protobuf:protobuf-gradle-plugin:0.8.3" should be "com.google.protobuf:protobuf-gradle-plugin:0.8.3"

[2017-09-09 15:33] SetoKaiba commented on #163
It makes the 0.8.3 can't be resolved.

Error:Could not find gradle.plugin.com.google.protobuf:protobuf-gradle-plugin:0.8.3.
Searched in the following locations:
    file:/C:/Users/Seto/.m2/repository/gradle/plugin/com/google/protobuf/protobuf-gradle-plugin/0.8.3/protobuf-gradle-plugin-0.8.3.pom
    file:/C:/Users/Seto/.m2/repository/gradle/plugin/com/google/protobuf/protobuf-gradle-plugin/0.8.3/pr

[2017-09-10 15:03] Ramithags opened #164 "Android Studio Canary issues"
Hello All,

Am facing some weird issue after updating to Android Studio Canary version.
When ever I tried to run test cases am facing below exception. But once I clean my Gradle it works, but every time clean my Gradle kind of tedious task.
Error:Execution failed for task ':Path:transformClassesAndResourcesWithPrepareIntermediateJarsForDebug'.

Can some body help me get rid of this?

[2017-09-11 16:55] zhangkun83 commented on #163
Wow, never noticed that. The path in the snippet on the plugins.gradle.org page is always like this, which seems to be wrong. While I don't know why it happens, you can definitely use the path in `README.md`.

[2017-09-11 17:05] zhangkun83 commented on #164
Is it related to the protobuf plugin, or just an android plugin issue?

[2017-09-12 02:18] SetoKaiba commented on #163
But for 2.1+, I use the code below. It doesn't work. Because it use the plugins.gradle.org data.
It's working with 0.8.2. So I thought it's a mistake when updating 0.8.3.
[code]
The code below is working. Only problem occurs with 0.8.3.
[code]

[2017-09-12 06:27] Ramithags commented on #164
It's just an android plugin issue I hope.

[2017-09-12 16:46] zhangkun83 commented on #164
@rschiu, what is the proper channel to report Android plugin issues?

[2017-09-12 17:35] rschiu commented on #164
issuetracker.google.com/issues/new?component=192709&template=842921

[2017-09-12 17:36] #164 closed

[2017-09-13 09:31] LouisCAD commented on #85
Isn't this issue obsolete now?

[2017-09-13 14:47] zpencer commented on #85
#121 suggests we do have android support now, @zhangkun83 can you confirm that we can close this?

[2017-09-13 15:48] #85 closed

[2017-09-18 08:32] linsea opened #165 "exec protoc Permission denied"
I run the build on jenkins encounter this error:

* What went wrong:
Execution failed for task ':client:generateDebugProto'.

p.s. my config:
[code]

[2017-09-18 15:48] ejona86 commented on #165
Is it possible /tmp is mounted with noexec? Can you run:
[code]

If so, I'd suggest swapping to /var/tmp for the gradle home.

[2017-09-20 02:15] linsea commented on #165
found the reason, we run the build on docker, where restrict executable running, with the adminitrator's help, now it's OK.

[2017-09-20 02:15] #165 closed

[2017-09-22 07:18] LouisCAD commented on #129
Hi,
I noticed this Android Gradle plugin 3.0 page still says, wonrgly now, that Protobuf plugin doesn't work. The people in charge of updating this page (if any!) should update it.
Here's the url, cmd+F/ctrl+F fro "proto": https://developer.android.com/studio/build/gradle-plugin-3-0-0.html

[2017-09-22 18:08] rschiu commented on #129
I will get someone to update the page.  Thanks!

[2017-09-29 02:11] ht2908 opened #166 "Can not create proto folder"
Hi, I am trying to install protobuf plugin in android studio.
Follow this guide: https://github.com/google/protobuf-gradle-plugin
But when I try to make gradlew install there's always error "The com.google.protobuf plugin was already applied to the project: :app and will not be applied again after plugin: android"

In other hand, although my project can build successfully, my project structure sti

[2017-09-29 17:05] zhangkun83 commented on #166
Not sure what you want to achieve here. The protobuf plugin doesn't create the proto src directories for you. You put the proto files in, e.g., `src/main/proto`, and the plugin will find them and compile them.

[2017-09-30 17:22] timyates commented on #163
I think I know the issue

You're using the gradle publishing plugin:

[code]

Unfortunately, we had a bug in `v0.9.5` that sometimes the artifacts would silently not be published to the repository 😢   This was fixed in `0.9.7` of the `plugin-publish-plugin`

Please can you update to `v0.9.8` (the latest), and re-publish?  I can remove `v0.8.3` of your plugin if you want me to, so you can re-publis

[2017-10-01 02:13] SetoKaiba commented on #163
@zhangkun83 Could you please help?

[2017-10-02 02:22] ht2908 commented on #166
@zhangkun83 ohh... you mean that I have to create the proto src manually, android studio doesn't do it automatically. Thank you.
But I have one problem, when I try to make gradlew install there's always error "The com.google.protobuf plugin was already applied to the project: :app and will not be applied again after plugin: android"

[2017-10-02 17:05] zhangkun83 commented on #163
@timyates yes, please delete 0.8.3 for me and I will re-publish.

[2017-10-02 17:10] timyates commented on #163
Will do. :+1:

Away from computer now, but it should be done in 30 mins or so...

Will post here when it's done

[2017-10-02 17:13] zhangkun83 commented on #166
@ht2908 that warning doesn't necessarily imply any problem.. Maybe I should lower it to a INFO log.

[2017-10-02 17:25] timyates commented on #163
@zhangkun83 `0.8.3` removed, you should be able to re-publish

[2017-10-02 17:33] zhangkun83 commented on #163
I have re-published. @SetoKaiba, does it work now?

[2017-10-02 17:37] #166 closed

[2017-10-03 01:34] SetoKaiba commented on #163
Thank you. It's working. It's ok to close this issue now.

[2017-10-03 22:42] #163 closed

[2017-10-07 05:59] while-loop commented on #100
I also had the same problem when using gRPC with Kotlin. Currently using Android Studio 3.0 beta7.
It worked fine as a Java app, but once converted to kotlin it wasn't able to find the resources in the build directory.

I followed @passsy's suggestion and created a lib for the protos.

proto `build.gradle`
[code]

app `build.gradle`
[code]

`settings.gradle`
[code]

[2017-10-09 17:47] mbelling opened #167 "Large number of proto files leads to generate failure on Windows"
Windows has a relatively small command line length.  We have a lot of proto files.  When the plugin tries to make the call to generate, we get an error because the command line that the plugin tries to call is too long.  When I printed out debug logging, I saw it was because it places each proto file on the command line.

Is there a way that a directory can be used instead of listing every proto f

[2017-10-09 17:56] mbelling commented on #167
As I did more digging, I realized this may be a limitation of the protoc compliler:

https://github.com/google/protobuf/issues/274

[2017-10-09 21:56] cbornet opened #168 "Calling a pure Java plugin"
With the protobuf-maven-plugin, it's possible to execute [pure Java plugins](https://www.xolstice.org/protobuf-maven-plugin/examples/protoc-plugin.html)
Would it be possible to do it with the gradle plugin also : I want to use a plugin that is made to use this feature with gradle.

[2017-10-10 09:06] cbornet commented on #168
I've read #31 but it only partially solves the issue as an executable jar still needs to be available whereas the protobuf-maven-plugin builds the executable from the jar at compile time.

[2017-10-10 13:58] devinrsmith opened #169 "exampleProject does not compile with java 9"
[code]

[code]

[2017-10-12 20:40] ducrohet opened #170 "Doesnt work with Gradle 4.3 RC1"
[code]

Seems to be caused by ProtobufSourceDirectorySet which seems to be using all private APIs.

[2017-10-14 03:57] zpencer commented on #170
Update:
I have found the things failing validation. On line 300 we add a SourceSet and on line 311 we add a FileTree. It appears only things that can be validated as files can pass through this API boundary.
https://github.com/google/protobuf-gradle-plugin/blob/master/src/main/groovy/com/google/protobuf/gradle/ProtobufPlugin.groovy#L300

This test passes for version 4.2.1 but fails with [4.3-rc-1]

[2017-10-15 07:14] gnz00 commented on #52
This would be a cool addition. Personally could use it for cpp.

[2017-10-20 00:00] zpencer commented on #170
Fixed by #172

[2017-10-20 00:00] #170 closed

[2017-10-20 00:07] ducrohet commented on #170
That's great, thanks for the quick fix!
When can we expect a new release with the fix?

[2017-10-20 00:11] zpencer commented on #170
In Gradle 4.3-rc-2, this is a warning instead of an error. Can you try using that for now? That way, we can continue to monitor any new changes for 4.3 and do a single release when there is a stable version.

[2017-10-20 00:57] ducrohet commented on #170
Oh yeah I can do that, thanks!

[2017-10-20 01:04] zpencer commented on #160
I notice that the test projects do seem like complete runnable projects themselves, but work when invoked by the unit tests via `GradleRunner`. I think there's some configurations that are injected at runtime based on the test to make it work. Perhaps this should be better documented in the tests.

[2017-10-20 09:51] DaRolla opened #173 "Whats the Android way?"
Hi there,

in your documentation I can read:

    protobuf {
        plugins {
            javalite {
                artifact = 'com.google.protobuf:protoc-gen-javalite:3.0.0'
            }
        }
        generateProtoTasks {
            all().each { task ->
                task.plugins {
                    javalite { }
                }
            }
        }
    }

But using Android Studio

[2017-10-20 23:43] zhangkun83 commented on #173
The latter is the correct way. Let me update the doc to make it more clear.

[2017-10-21 00:27] #173 closed

[2017-10-22 04:04] elye commented on #173
I just faced this issue too two days ago. Glad you updated the document 👍

[2017-10-23 05:11] elye opened #176 "Protobuf Lite + Kotlin: Android: Unresolved Reference"
I tried the Android example as much as per the READMe here. My code is in https://github.com/elye/issue_android_protobuf_light.

The Proto codes got generated. My Android Studio able to find the generated file (e.g. I could import it without error, and the cod autocompletion could find all the generated Proto codes.

However during compilation it complaints `Error:(3, 21) Unresolved reference: pro

[2017-10-23 09:24] elye commented on #176
Apparently the issue only happens when it is in Kotlin. As I made the identical code in Java, https://github.com/elye/issue_android_protobuf_light_java, all works fine. Probably some bug to fix or Kotlin to support for Protobuf? (Or something I need to do extra to get it work with Kotlin?)

[2017-10-25 21:07] bootstraponline opened #177 "Output Ruby gRPC & Protobuf"
Support for gRPC generation seems limited. How do I make Ruby generate gRPC? This is the command that works from the CLI:

I don't see a way to achieve this via the plugin.

[code]

[2017-10-27 11:11] vorburger commented on #109
Over in https://github.com/grpc/grpc-java/pull/3598, @oehme [advised that](https://github.com/grpc/grpc-java/pull/3598#issuecomment-338927408): _"The protobuf plugin should add its proto source directory set to the "allSource" source directory set. That's what the IDEs query."_. If this issue (eventually) implements that, then there should be no need to put anything into the build.gradle and it wi

[2017-10-30 19:50] tjoneslo opened #178 "Update to support Gradle 4.3"
When I compile a project using the newly released Gradle 4.3 I get the following warning:

[code]

[2017-11-02 02:09] yjdwbj opened #179 "This readme.md is outdated.Can't build from gradle."
I'm checked the  url **https://oss.sonatype.org/content/repositories/snapshots/com/google/protobuf/protobuf-gradle-plugin/**  0.7.2.SNAPSHOT is the lastest.
[code]

Then I changed 0.8.3 to 0.7.2  got dependency error as blow:

[code]

[2017-11-07 02:09] amc6 opened #180 "generateProto always up-to-date"
Expected: Editing a protobuf file and then running `./gradlew generateProto` should regenerate the code for the changed proto.
Actual: The task is considered "up-to-date" by gradle and doesn't run.
protoc version: 3.4.0
protobuf-gradle-plugin version: 0.8.3

As a workaround I've configured the task so that it is never considered up to date, but that isn't ideal since it will cause all dependent ta

[2017-11-07 07:13] venth commented on #168
Version 0.8.3 allows to declare jar plugin by using constant classifier (e.g. `jvm8`) and extension (e.g. `@jar`). Unfortunately such declaration of proto plugin isn't sufficient.

I have protobuf declaration as follows:
[code]

I've installed locally [rxgrpc](https://github.com/salesforce/grpc-java-contrib) with classfier: `jvm8` and version: `0.6.1.gradle`.

Rxgrpc plugin is properly resolved. U

[2017-11-08 02:48] elye commented on #176
Checkout the workaround at https://medium.com/@elye.project/android-protobuf-in-kotlin-a1c33014a4e2

[2017-11-09 07:28] liuyan82 opened #181 "Proto files under 'src/test/proto' not compiled to Java"
In my android project, my protobuf test cases is under src/test/proto, they are not complied automatically. While my proto files under 'src/main/proto' can be compiled.

[2017-11-09 08:31] liuyan82 commented on #181
Seems proto file under 'src/androidTest/proto' will not compiled either.

[2017-11-10 06:13] RishuK commented on #41
@jimht011 Could you please share the steps here if this was solved?

[2017-11-11 00:48] zhangkun83 commented on #181
For Android project the default test source directory is `src/androidTest`. What is `src/test` used for? (I know very little about Android build, so there may be something I have missed).

[2017-11-12 13:45] kantoniak opened #182 "Dex merging fails with Gradle 3 and lite protos"
[build.gradle.txt](https://github.com/google/protobuf-gradle-plugin/files/1464704/build.gradle.txt)
[build.log](https://github.com/google/protobuf-gradle-plugin/files/1464705/build.log)

I installed Android Studio 3 and tried to build project with Gradle 3 which now Studio uses. The build fails in dex merging stage:
[code]
Studio tells me that `TextFormatEscaper` class is provided in both `protobu

[2017-11-12 18:14] YogeshDeveloper opened #183 "Gradle sync failed: Timeout waiting to lock file hash cache"
Gradle sync fails and the following issue occurs.

Gradle sync failed: Timeout waiting to lock file hash cache. It is currently in use by another Gradle instance.
			Owner PID: 10116
			Our PID: 9800
			Owner Operation:
			Our operation:
			Lock file: C:\Users\HELLO\.gradle\caches\4.1\fileHashes\fileHashes.lock
			Consult IDE log for more details (Help | Show Log) (1m 2s 366ms)

[2017-11-13 08:16] liuyan82 commented on #181
Unit test unger 'src/test' is for Tests not quite rely on Android Libraries, and it runs on PC, rather than cell phones or emulators. These run much fast than those on cell phones. Some open source project like RobolectricTestRunner supplies basic Android environment for 'src/test', making it possible to run some Android test in 'src/test'

[2017-11-13 18:15] ejona86 commented on #182
You need to exclude `protobuf-java` or avoid what's pulling in that dependency. Take a look at the dependency tree and see where protobuf-java is coming from (I tried to check your build file, but I also needed the parent build file as well):
[code]

[2017-11-13 18:31] zhangkun83 commented on #183
Doesn't seem related to the protobuf plugin.

[2017-11-13 18:31] #183 closed

[2017-11-14 10:29] kantoniak commented on #182
I had to exclude `protobuf-lite` from `grpc-protobuf-lite`: https://github.com/kantoniak/green-deer/commit/689a2a3985e905561d27e88c504301338f79ce5e#diff-39e7d8c00954e920b98e7636f0ac30b2R43

Thank you for your help.

[2017-11-14 10:29] #182 closed

[2017-11-14 11:38] panzerfahrer opened #184 "Support to pass plugin options using --[name]_opt"
I'm trying to use plugins that expect options passed via the `--[name]_opt` argument. From what I can see in [GenerateProtoTask.groovy](/src/main/groovy/com/google/protobuf/gradle/GenerateProtoTask.groovy) only additional options to the `--[name]_out` argument are supported.

Is there already a way to pass options via the `--[name]_opt` argument? If not, could this be supported?

[2017-11-14 17:34] ejona86 commented on #182
@kantoniak, oh, I didn't notice you really wanted full protobuf. Instead of depending on `io.grpc:grpc-protobuf-lite:1.7.0` depend on `io.grpc:grpc-protobuf:1.7.0`.

[2017-11-14 17:57] kantoniak commented on #182
Oh, maybe I solved another problem. I would like to use lite protos everywhere, and my last change seems to work fine with server built in lite flavor (https://github.com/kantoniak/green-deer-server/blob/master/build.gradle).

I also attach parent `build.gradle` of Android app, maybe you can advise me any changes.
 [build.gradle.root.txt](https://github.com/google/protobuf-gradle-plugin/files/1471

[2017-11-14 21:28] ejona86 commented on #184
_opt? What's that... Oh, looks like it was added a year ago: google/protobuf#2284 . It appears _opt is equivalent to using the previous syntax with _out, based on [this documentation](https://github.com/google/protobuf/blob/fa5a69e73b0dd667ff15062adbc170310d440ee9/src/google/protobuf/compiler/command_line_interface.h#L174). Have you tried using the _out-based options and see if they work?

[2017-11-15 07:30] panzerfahrer commented on #184
Oh, it actually works :) So, I guess there is nothing to do (maybe a hint in the docs)?

[2017-11-16 16:44] bacc4git commented on #162
Is this addition planned for future releases? I think that it's currently not possible to support Instant App for a module that uses protobuf plugin..or is there a way to do that?

[2017-11-17 15:22] crilofer opened #185 ""You don't have permission to use the application 'protoc-3.4.0-osx-x86_64.exe'" gradle"
Hi,

I am trying to build my application that uses protocol buffers. But I am getting the error shown in the screenshot attached.

![screen shot 2017-11-15 at 12 49 24](https://user-images.githubusercontent.com/6973711/32837579-01d10c94-ca06-11e7-8221-e04fe02a511f.png)

This file has 777 permissions.

Thanks.

[2017-11-17 16:16] macduy commented on #100
If you have grpc services, also add

[code]

[2017-11-17 16:39] macduy commented on #100
Based on @passsy and @while-loop's comments, this is the set up that works for me and generates grpc services too. `build.gradle`

[code]

[2017-11-17 18:01] zhangkun83 commented on #185
Are you able to run the file from command line with option `--version`?

[2017-11-17 18:40] zhangkun83 commented on #181
@rschiu , my understanding is that the Android plugin defines its own sourcesets. Should we support the user-defined `src/test` in the `android {}` block or the one outside?

[2017-11-17 18:46] zhangkun83 commented on #177
[`grpc_tools_ruby_protoc`](https://github.com/grpc/grpc/blob/master/src/ruby/tools/bin/grpc_tools_ruby_protoc) is just a wrapper for `protoc`. In the `plugins {}` block, you should instead specify the path to the actual ruby plugin, which is pointed to by `plugin_path` in the linked script. Fill in that path to the `plugins {}` block and try again.

[2017-11-17 18:46] #177 closed

[2017-11-17 18:52] bootstraponline commented on #177
Thanks. I ended up writing a shell script since I couldn't get this plugin to work for multiple languages & gRPC. If this is a supported use case, then some basic examples would be wonderful.

- https://github.com/instructure/test_advisory_board/blob/master/grpc/generate.sh

[2017-11-17 19:03] #160 closed

[2017-11-17 19:11] zhangkun83 commented on #158
Why can't you just put the proto files under `app/src/androidTest/proto` and set `generateProtoTasks.generatedFilesBaseDir` to `app/src/`?

[2017-11-17 19:13] bootstraponline commented on #158
This isn't an issue for me anymore.

[2017-11-17 19:13] #158 closed

[2017-11-17 19:13] rschiu commented on #181
I am not sure what you mean by "in the android {} block or the one outside".  src/test is a feature of Android plugin for unit testing.  I imagine support for "src/test/proto" should be similar to how "src/androidTest/proto" is supported.

[2017-11-17 19:23] zhangkun83 commented on #114
Are you still seeing the issue?

[2017-11-17 22:47] zhangkun83 commented on #181
My understanding is that each variant is a compilation unit, and the plugin uses `variant.registerJavaGeneratingTask` to link the protoc tasks with the Java compilation tasks for the variants. How does `src/test` fit in this model? Is it a variant by its own, or something other than variant?

[2017-11-17 23:12] #184 closed

[2017-11-17 23:22] rschiu commented on #181
It is its own variant in the way there is a variant for androidTest.  I don't remember the protobuf plugin code, but I am guessing there is a call to registerJavaGeneratingTask for the variant with type VariantType.ANDROID_TEST?  You should be able to do the same for VariantType.UNIT_TEST.

[2017-11-17 23:36] zhangkun83 commented on #178
@tjoneslo can you provide an example project for me to test this bug with?

[2017-11-18 00:01] zhangkun83 commented on #110
You probably have figured out the solution. FWIW, here is an example:

[code]

[2017-11-18 00:01] #110 closed

[2017-11-20 10:36] crilofer commented on #185
Yeah, I solved specifying the protoc path.
But now I have different problem:

<img width="451" alt="screen shot 2017-11-20 at 10 34 53" src="https://user-images.githubusercontent.com/6973711/33014264-a5cc39d2-cdde-11e7-8222-16a2791514ae.png">

Thanks.

[2017-11-20 17:55] zhangkun83 commented on #185
1.0.0-pre2 is pretty old, though it should work anyway.
Please check the permissions of the second file, and try running it from command line. You can find it under `~/.gradle/caches`.

[2017-11-20 18:04] crilofer commented on #185
I have also tried with 1.7.0 and I got the same result. The second file has 777 permissions.

How could I run from command line?

Thanks!

[2017-11-20 18:06] zhangkun83 commented on #185
You just run it like an executable. It gives out no output and just wait for standard input, and you can `Ctrl+C` to exit.

[2017-11-20 20:06] crilofer commented on #185
This is the result:

<img width="1221" alt="screen shot 2017-11-20 at 20 05 57" src="https://user-images.githubusercontent.com/6973711/33038958-496965ac-ce2e-11e7-9a2f-419d8177a45a.png">

[2017-11-20 21:27] zhangkun83 commented on #185
Did you try removing the `sudo`?

[2017-11-20 21:32] crilofer commented on #185
<img width="1110" alt="screen shot 2017-11-20 at 21 31 20" src="https://user-images.githubusercontent.com/6973711/33042581-35c7f750-ce3a-11e7-88c5-29c2108b6349.png">

The file has 777 permissions and I have admin rights

[2017-11-20 21:39] zhangkun83 commented on #185
Seems OSX forbids the execution of this file despite its permissions being 777. You can try to get help from OSX supporting resources, but this is not a problem of the protobuf plugin.

[2017-11-20 21:39] #185 closed

[2017-11-21 17:47] #179 closed

[2017-11-21 19:43] ofced opened #189 "Is there a way to thumb down this?"
Very poor article. Doesn't say which build.gradle he is using. Some sections exist in one but not the other.
Fix it!

[2017-11-21 20:06] ejona86 commented on #189
What article are you talking about? I don't think we've written any article, so we probably can't fix whatever issues you noticed.

[2017-11-21 23:44] minaevd opened #190 "Not able to specify the output directory for generated java files"
Hi there,

I'm struggling with specifying output directory for protobuf generated java files files. I want to put it under gen-src, instead of gen-src/main/java.

If I set generatedFilesBaseDir to "gen-src" it outputs to gen-src/main/java. I can additionally set outputSubDir to '.' (current folder) and then it puts it to gen-src/main/
However I can't set outputBaseDir to '.' to eliminate "main" fr

[2017-11-22 17:35] zhangkun83 commented on #190
It's necessary for the plugin to put the generated Java files in directories that correspond to sourceSets, because those files will be compiled along with the Java source files from the corresponding sourceSets, and we don't want the generated files from different sourceSets to be mixed. Why do you want that specific directory?

[2017-11-22 19:54] minaevd commented on #190
I just want to have packages right under the gen-src/ folder. I don't want to have extra folders like main/java. I have other build processes that generate code and put it under gen-src/ folder. And I don't want to have separate structures for generated code, one with main/java and another with just packages. Hope that makes sense.

--
Dmitry

[2017-11-27 18:13] zhangkun83 commented on #190
The protobuf plugin doesn't support such behavior. I don't believe it's a good idea to mingle the output from different sources.

Ideally, if the generated files are the input of your own compilation task, it makes more sense for the compilation task to include multiple directories as input, say, both `gen-src` and `$generatedFilesBaseDir/main/java`. If it's not possible, you may consider creating

[2017-11-27 18:13] #190 closed

[2017-11-30 05:03] zpencer commented on #180
@amc6 can you provide some steps on how to reproduce this problem?
I am trying to produce the bug using the `exampleProject` without success:

1. run `../gradlew clean`
2. run `../gradlew generateProto` and saw `3 actionable tasks: 3 executed`
3. edit `exampleProject/src/main/proto/com/example/tutorial/sample.proto`
4. run `../gradlew generateProto --info` and saw that `generateProto` was rerun.

[2017-12-01 19:03] zpencer commented on #169
This is the same issue as https://github.com/grpc/grpc-java/issues/3633, we can use the same `javax.annotation:javax.annotation-api` workaround to make the project compile here.

[2017-12-01 21:08] #169 closed

[2017-12-02 00:10] shevek commented on #33
You don't even have to do incremental to fix the primary issue: don't get ratholed on it. Just making it specify its output files, and have stable generation will mean that even if protoc reruns, gradle will see that the output files haven't changed and won't recompile them unnecessarily.

Right now, a global clean and recompile of the protoc files would be better than the current situation - this

[2017-12-03 20:28] #162 closed

[2017-12-03 23:26] zpencer commented on #111
According to the README for https://github.com/tbroyer/gradle-apt-plugin , the preferred way for Intellij to build things is by delegating to gradle: https://www.jetbrains.com/idea/whatsnew/#v2016-3-gradle

I tested this out with the exampleProject and it it worked:
1. import the example project's `build.gradle` as an intellij project
2. run `../gradle clean` and verify that the `build` directory

[2017-12-03 23:26] #111 closed

[2017-12-05 09:30] czp3009 opened #197 "external script cause "Plugin with id 'com.google.osdetector' not found""
I have a external Gradle build script which contains

[code]

I use it in another project like this

`apply from: "http://myDomain/myGradleBuildScript.gradle"`

And then, i receive such exception on my console while using "gradle build" command:

`Plugin with id 'com.google.osdetector' not found.`

I find out there is such code in doApply method of ProtobufPlugin.groovy:

`project.apply([plugin:'c

[2017-12-05 23:26] #156 closed

[2017-12-08 13:07] breun commented on #178
I see this in the output of a build:

[code]

Might be the same issue?

[2017-12-09 03:22] zpencer commented on #176
This looks to be a duplicate of https://github.com/google/protobuf-gradle-plugin/issues/176. I have a PR that adds kotlin support and will be posted soon.

[2017-12-09 03:22] #176 closed

[2017-12-12 08:09] panzerfahrer opened #199 "IntelliJ: proto source directory not recognized"
In my setup, the `src/main/proto` directory is not recognized as a source directory by IntelliJ.
I was able to circumvent this by manually adding the following to my `build.gradle`:

[code]

~Could this be related and solved by #104 ? If so, I'd like to offer help to get the conflicts solved and PR merged.~ _Edit: #104 got closed after this. Should this be tackled with #193 or #198 (and possibly b

[2017-12-12 15:30] ieugen commented on #178
@zhangkun83 : I believe you should get that message if you update your gradle version to 4.3+ (4.4)

You can do that by updating *gradle/wrapper/gradle-wrapper.properties* and then generate the proto file.

[code]
If that does not work, this is my build config:

[code]
[code]

[2017-12-12 19:06] tjoneslo commented on #178
@ieugen Thanks for the project. That looks about right to me.

[2017-12-21 18:14] mbelling commented on #167
It looks like https://github.com/google/protobuf/issues/274 has been fixed in 3.5.0+.

[2017-12-23 17:07] NikolayMetchev opened #202 "Ability to customize output directory without the sourceset name in there."
I would like the output directory for protobuf compiler to be:
src/generated/java

however the plugin currently hard codes the source set name in the output directory and it becomes:
src/generated/main/java

[2017-12-27 18:38] zhangkun83 commented on #202
Please see [my response](https://github.com/google/protobuf-gradle-plugin/issues/190#issuecomment-347273434) on #190.

[2017-12-27 18:38] #202 closed

[2018-01-01 19:30] shevek commented on #180
Additionally, if you change the proto to remove a message, the old java files are left in the generated-sources directory.

GenerateProtoTask needs a `@OutputDirs` (or whatever it is) annotation on getAllOutputDirs(), also `@Input` on getOptions(), etc, etc, to make this work properly in gradle.

[2018-01-01 19:32] shevek commented on #33
Somewhat related to #180 - correcting the gradle annotations will fix (most of) both.

[2018-01-01 19:37] shevek commented on #180
You may be able to solve this issue almost trivially by extending SourceTask instead of DefaultTask.

[2018-01-04 21:58] shevek commented on #33
Possible workaround, although highly non-ideal in a Gradle world:
[code]

[2018-01-06 03:45] zpencer commented on #100
The following PRs add kotlin support:
https://github.com/google/protobuf-gradle-plugin/pull/196
https://github.com/google/protobuf-gradle-plugin/pull/201

[2018-01-06 03:45] #100 closed

[2018-01-08 12:58] Ronziod commented on #190
Hello,

I agree it's not a good idea to mingle different sources. However, being able to override main/java to be something else would still be a helpful feature. There are lots of legitimate reasons you may want to generated files to go elsewhere. Even other commonly supported sourceset naming conventions:
gen/java
main/java-gen
java

Thanks

[2018-01-08 18:03] chrismiller commented on #190
We don't want a "main" directory either. Across all our many Gradle projects, for somewhat legacy reasons, we do not use "main" anywhere in the directory paths that our various sources live in. Not being able to specify the output directory of the protobuf plugin means we need some special casing for protobuf generated code.

[2018-01-17 21:45] zpencer commented on #199
The feature is complete will be available in the next release. @zhangkun83 and I will determine if there's anything else we want to include and do one in the near future.

[2018-01-17 21:58] zpencer commented on #178
This was fixed in https://github.com/google/protobuf-gradle-plugin/pull/172 and will be included in the next release of this plugin.

[2018-01-17 21:58] #178 closed

[2018-01-17 23:07] zpencer commented on #189
Closing due to inactivity.

[2018-01-17 23:07] #189 closed

[2018-01-17 23:08] #199 closed

[2018-01-17 23:22] zpencer commented on #181
Looks like this is the case according to the official android docs:
https://developer.android.com/studio/test/index.html

[2018-01-20 00:03] zhangkun83 commented on #190
It's a really bad idea to mingle different sourcesets. If we do that, java compilation may accidentally include generated files from unwanted sourcesets. Does it cause you real problems, or it's just an cosmetic issue?

[2018-01-20 00:12] NikolayMetchev commented on #190
I agree it's a bad idea. If however you only have one source set you should not be forced to conform. On the whole Gradle tries not to be opinionated. This restriction seems opinionated to me

[2018-01-23 19:24] AseevEIDev commented on #56
My way of solving problem with import proto files from android library.

### If android library is local and used this way:
[code]

I didn't find the way to put proto files in .aar (android library package). But I created external only java library with only proto files and connect it to our android library:
[code]

This way all protobuf files remain in jar file of `androidLibraryProto` library wi

[2018-01-24 16:25] timleung22 opened #210 "Using ':' as the option delimiter breaks Windows build for some plugins"
For plugins that accept options for configuration of, say file location.  One would sometimes set something like
myplugin {
  option "${projectDir}"/src/main/resources/mytemplate"
}

And that breaks in Windows because the plugin is forming a command with stuff like
myplugin_out=C:/myproject/src/main/resources/mytemplate:...
and that breaks because the protobuf plugin now just pass myplugin_out=C t

[2018-01-24 17:20] zhangkun83 commented on #210
@xfxyjwf we currently use `:` as the delimiter between plugin options and the output path, e.g., `grpc_out=nano=true:build/generated/java`. It becomes a problem under windows as the path may also contain `:`. Any suggestion?

[2018-01-24 17:32] timleung22 commented on #210
":" is definitely not good.  Maybe "|" and document that's a separator?

[2018-01-24 19:29] xfxyjwf commented on #210
I guess we can't change to use a different separator because it's not backwards compatible. I think you can probably make use of the "---xxx_opt" flag:

[code]

That way the option containing ":" should be passed to the plugin as is.

[2018-01-24 23:58] zhangkun83 commented on #210
Thanks @xfxyjwf . At which protoc version was the `--xxx_opt` flag added?

[2018-01-25 00:02] xfxyjwf commented on #210
It was added in this commit:
https://github.com/google/protobuf/commit/59cd5d0e26c180117d9d5fe16be536e63d29e332

Released in protobuf 3.2.0.

[2018-01-25 00:23] zhangkun83 commented on #210
I misunderstood the case. The offending `:` is in the plugin options, not in the `xxx_out` path. Since `--xxx_opt` is not available on lower version of protoc, the Protobuf Gradle Plugin can generate command lines with `--xxx_opt` only if there is `:` in the options.

[2018-01-25 01:26] #181 closed

[2018-01-30 11:26] pedrorochaorg opened #211 "Removing task dependencies"
Is it possible to remove generateProto has dependency of compileJava and compileTestJava ?

[2018-01-30 18:36] zpencer commented on #211
generateProto is the task that generates the java files used by compileJava and compileTestJava. Are you seeing generateProto run when it shouldn't be running?

[2018-01-30 18:45] pedrorochaorg commented on #211
No, it's just that i would like to prevent it from running every time that compileJava runs

[2018-01-30 19:22] zpencer commented on #211
When you run `./gradlew compileJava --info`, the proto tasks should say 'UP-TO-DATE'. This means they are not actually re-run because no changes have been detected since the previous task invocation.

Is this the case for your build?

[2018-02-08 18:07] zpencer commented on #211
Closing this issue due to inactivity. Please repoen if you see the codegen task running when it should not be running.

[2018-02-08 18:07] #211 closed

[2018-02-10 10:26] yeefan opened #212 "Version 0.8.4: Cannot compile on Windows when username has a space"
On my computer, my username is "Tan Yee Fan" and hence the path to the Protobuf compiler contains spaces:
[code]
When using version 0.8.4 of the plugin, the compilation failed with the following error message:
[code]
Downgrading to version 0.8.3 of the plugin resolved the problem.

System information:
* Operating system: Windows 10
* Java: 1.8.0_161
* Gradle: 4.5.1
* Protobuf Plugin for Gradle: 0.

[2018-02-10 10:39] yeefan commented on #212
On running gradle with --info, it appears that version **0.8.3** executes the following **list**:
````[C:\Users\Tan Yee Fan\.gradle\caches\modules-2\files-2.1\com.google.protobuf\protoc\3.5.1-1\416df7b7f577fada867e9edd1864d45184e3ff41\protoc-3.5.1-1-windows-x86_64.exe, ...]````

whereas version **0.8.4** executes the following **string**:
````C:\Users\Tan Yee Fan\.gradle\caches\modules-2\files-2.1

[2018-02-15 00:39] behrangsa opened #213 "The `extractIncludeTestProto` task logs an error"
Plugin version: `0.8.4`
Gradle version:

[code]

Error message:

[code]

[2018-02-16 18:52] zpencer commented on #180
Regarding clearing the output dir before generating new code: this seems a bit risky to me, because we would have to make sure that directory does not contain anything we should not delete. If SourceTask already solves this problem, I think we should extend it.

[2018-02-16 19:14] shevek commented on #180
The way gradle works, every task MUST have a unique output directory, which is then added to the sourceset. The entire premise gradle's input and output tracking relies on this. If the directory contains anything other than that generated by the generateProto task, it's an invalid build configuration, which in gradle 3 will cause performance issues, and in gradle 4/5 with build cache will cause ba

[2018-02-21 17:10] zhangkun83 commented on #212
@yeefan can you check out the head, install the plugin locally with `./gradlew install -x test`, and test it if it the issue is fixed?

[2018-02-21 18:21] yeefan commented on #212
@zhangkun83 I checked out the head, and this fixes the problem as far as I am concerned. Thanks a lot.

However, looking at your commit, I feel that the following line may not be entirely correct.
````int currentFileLength = protoFileName.length() + 1````

My understanding is that on Windows, Java ultimately calls the CreateProcess function to execute a command, and this command is a null-terminat

[2018-02-21 22:33] zhangkun83 commented on #212
The Windows length limits that the plugin currently assumes is [2047 and 8191](https://support.microsoft.com/en-us/help/830473/command-prompt-cmd-exe-command-line-string-limitation), which only apply to commands typed in `cmd.exe` . When it comes to `CreateProcess`, the limit is [32,768](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682425(v=vs.85).aspx).

@gegy1000, since you contrib

[2018-02-28 23:08] zhangkun83 commented on #212
I experimented with the following Gradle task on Windows Server 2012 trying to find out the Windows limit.
[code]

The command was accepted by Windows when `length==16381`.  It looks like the 32768 limit applies here, and the spaces between argument are counted. When I changed `'X'` to `' '` in the script, the result was 8190. Looks like two quotes are added per argument when necessary.

[2018-03-06 09:17] yoss1994 opened #216 "Error:Execution failed for task ':app:generateDebugProto'."
Hi everyone,
I'm new with protobuf and I got this problem while generating proto in android

Error:Execution failed for task ':app:generateDebugProto'.

C:\Users\W.S.I\AndroidStudioProjects\ProtobufTest\app\build\extracted-include-protos\main: warning: directory does not exist.
C:\Users\W.S.I\AndroidStudioProjects\ProtobufTest\app\build\extracted-protos\main: warning: directory does not exist.
C:\

[2018-03-06 17:12] zhangkun83 commented on #216
The error message is quite clear: "information.proto: information.proto: Cannot generate Java output because the file's outer class name, "DataProto", matches the name of one of the types declared inside it. Please either rename the type or use the java_outer_classname option to specify a different outer class name for the .proto file."

[2018-03-06 17:12] #216 closed

[2018-03-07 10:44] yoss1994 commented on #216
thank you very much! It works

[2018-03-07 11:19] Gaket opened #217 "Proguard configuration"
We use a Proguard in our app. What is the Proguard config needed to work with Protobuf plugin? Next config works for my test project:
[code]

Is there a way not to keep the model classes from obfuscation?

[2018-03-07 18:49] #212 closed

[2018-03-07 19:03] zhangkun83 commented on #212
This is now released as 0.8.5

[2018-03-08 22:34] zhangkun83 commented on #217
Why do you need to special-case the generated classes? They are compiled in the same way other files are.

[2018-03-08 23:07] Gaket commented on #217
Oh, I see. I used this project as a test project: https://github.com/Gaket/demo_android_protobuf_simple

And in that project the initial author used `MyObjectClass.toString()` call to show the incoming data. And this call returned printed obfuscated nonsense.

Only after your comment I checked implementation of generated `toString()` and saw that it is reflection-based (and you even described it i

[2018-03-09 00:27] zhangkun83 commented on #217
Glad to hear that!

[2018-03-09 00:27] #217 closed

[2018-03-10 19:42] isupeene opened #218 "Update Incremental Build when Plugin files change"
I'm using this plugin in an Android project with a custom protoc plugin.  The plugin is in Python with a batch script wrapper, and is in my project directory under 'plugins/'.  When the .py or the .bat file is changed, I want Gradle's incremental build to recognize that an input has changed and rerun protoc.  However, I don't see any way to do that with this plugin.

It would be great if we could

[2018-03-14 10:50] yeefan commented on #212
Thanks. But 0.8.5 not published on Maven Central?

[2018-03-14 18:18] zhangkun83 commented on #212
Hmm.. I don't know what happened. I just tried again now it shows up.

[2018-03-15 07:52] yeefan commented on #212
Can download the 0.8.5 artifacts now. Thanks again.

[2018-03-25 16:32] mkobit opened #219 "Make plugin more "kotlin-dsl" friendly"
The [`kotlin-dsl` project](https://github.com/gradle/kotlin-dsl) is an alternative way to write statically typed build scripts for Gradle in Kotlin.
As of right now, using this plugin requires a bit of knowledge of how the `kotlin-dsl` generates code and also how to manipulate Groovy types through Kotlin.

Example:

[code]

[2018-03-26 14:11] mkobit commented on #219
More complete example of attempting to convert the [`grpc-java` example](https://github.com/grpc/grpc-java/blob/8fe313f5981c43123c0cc34e8707f8292bc2e28a/examples/build.gradle#L49-L63):

[code]

* The `protobuf.protobuf` would be ideally replaced by just allowing for `protobuf {}`
* The `delegateClosureOf` things can mostly be dealt with by changing the methods from `Closure` accepting to `Action<?

[2018-03-28 19:57] Sabrak opened #220 "Add support import keyword (proto3)"
Please add supporting of the keyword **import** (proto3). https://developers.google.com/protocol-buffers/docs/proto3#importing-definitions

[2018-03-28 20:18] #220 closed

[2018-04-17 15:36] dcabasson opened #222 "Intellij source folder should be marked as generated"
Currently source folders in the Intellij configuration are not set as generated :
`<sourceFolder url="file://$MODULE_DIR$/src/generated-sources/main/java" isTestSource="false"/>`

See https://www.jetbrains.com/help/idea/creating-and-managing-modules.html#folder-categories for context

[2018-04-19 20:32] mkobit commented on #52
Is there an easy way to execute the Python gRPC generation using the Gradle plugin? I tried [searching the forum](https://groups.google.com/forum/#!forum/grpc-io), but did not find much of anything. Or, is there something similar to https://github.com/google/protobuf-gradle-plugin/issues/177 for Python gRPC?

[2018-04-19 20:38] gnz00 commented on #52
@mkobit You can try this (haven't run it in awhile):

[code]

[2018-04-19 20:40] gnz00 commented on #52
@mkobit Also looks like theres a Python example in the README.md

[2018-04-19 21:42] gnz00 commented on #52
@mkobit
Here is how I was building with Docker on RHEL. Mac OSX I think you just need `brew install grpc protobuf`.

[code]

[2018-04-19 21:43] gnz00 commented on #52
@mkobit You might just need: `python -m pip install grpcio-tools`

[2018-04-20 20:00] mkobit commented on #52
Thanks @gnz00 - if I install `grpcio-tools` (latest releases) I don't find `grpc_python_plugin` anywhere on the path or in any of the installed directories. It looks like there is an entire `protoc`-like executable that is built as part of the Python `setup.py` installation process. I'm just kind of figuring this out by looking at the gRPC source code, but I am still new to it so could be off on s

[2018-04-20 20:53] ejona86 commented on #52
It appears grpcio-tools uses an .so version of the plugin, not a normal binary.

CC @nathanielmanistaatgoogle

[2018-04-24 22:26] serhiihuralniksc opened #224 "[Android] Put generateProto tasks as dependency for native build tasks"
At the moment `generateProto` is not declared as dependency for tasks that are involved to generating and compiling native code. As result final build scripts (e.g. `build.ninja`) may lack rules for compiling protogenerated cpp.

[2018-04-25 16:40] mkobit commented on #52
Thanks @ejona86 and @mehrdada for confirming what I suspected. I would like to see the plugin be its own distribution (or be a part of the `grpcio-tools` package), I can move forward with the `grpc_tools.protoc` approach.

Thanks everybody for fast responses!

[2018-04-30 14:35] husnjak opened #226 "How do i change the outputSubDir in builtins?"
I do not want to use the standard sub folders:
main -> java-> proto

I only want to hav the last one but cannot figure out how to to it in builtins, as is said to work in the readme.

Code example:
[code]
getting an error on `outputSubDir`

What am i doing wrong?

[2018-05-03 13:26] bickelj commented on #190
It would be really nice to be able to specify exactly the source path. Agree with @NikolayMetchev that the plugin should not be forcing us to use certain paths. Gradle does not force us to use certain paths, nor do other plugins.

[2018-05-03 19:06] jhawk28 opened #227 "Gradle 5.0 deprecated api"
Gradle 4.7 complains about the protobuf plugin using a deprecated API.

[code]

[2018-05-08 13:46] dcabasson opened #228 "Enabling caching for all proto tasks"
Currently none of the proto task support gradle cache.

Please enable cache for all tasks :
https://docs.gradle.org/current/userguide/build_cache.html#sec:task_output_caching_details

This will require to properly annotate inputs and outputs as per :
https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:up_to_date_checks

[2018-05-16 01:42] behrangsa commented on #213
This issue still occurs with version `0.8.5` of the plugin.

Error message:

[code]

Error message:

[code]

[2018-05-16 16:49] pgelinas commented on #227
Should be fixed by #172 and version 0.8.4; latest is 0.8.5, you should update.

[2018-05-16 16:59] pgelinas commented on #222
Yeah, that is still marked as "incubating" in the gradle doc. Simple workaround is add it yourself in your gradle build:

[code]
![image](https://user-images.githubusercontent.com/261076/40131789-f0b20110-5908-11e8-8bca-e701e4dda845.png)

[2018-05-17 13:39] muzzah opened #229 "[Android] Generated unit test source files not being picked up by Android Studio"
Hi,

Im using the following setup
Android Studio 3.1.2
Android gradle plugin 3.1.2
Protobuf gradle plugin 0.8.5
Gradle 4.7

My protobuf configuration in my gradle file is as follows :
[code]

So all is pretty standard and up to date. Though when I add a proto file under `[moduleDir]/src/test/proto` directory, Android studio does not pick up the generated sources under the build directory and thus

[2018-05-23 21:54] mrt181 commented on #213
Adding this to my dependencies fixes the issue

groovy
[code]

[2018-05-24 22:50] zhangkun83 commented on #226
The default should be `build/generated/source/proto/main/java`. The `build/generated/source/proto` part can be changed by:
[code]
The `java` part can be changed by:
[code]
Hope this answers your question.

[2018-05-24 23:42] zhangkun83 commented on #224
As I have little knowledge about compiling native code for Android, it would be helpful if you can point me to an example project that does so, and the names of the native build tasks.

[2018-05-28 20:58] massenz opened #230 "Please document how to generate Python sources"
Reading #13, it states that setting this:
[code]
_should_ generate python sources too; but I get an error:
[code]
Be that as it may - this is, to say the least, non-intuitive.

How difficult would it be to have something like:
[code]
or something to that effect?

I am perfectly capable of creating a bash script to do both, but it would be nice to just run `./gradlew install` and have both Java/Pyt

[2018-05-29 18:11] zhangkun83 commented on #230
The syntax from #13 is outdated. With the latest version of the plugin, you don't specify output in the sourceSets, but in the `generateProtoTasks` block. The minimal code would be:
[code]

[2018-05-29 18:11] #230 closed

[2018-05-30 06:44] massenz commented on #230
Thanks.
This issue was, in fact, about actually documenting this (I was just pointing out that searching around for suggestions, that was all I could find).

Unless you tell me it's a bad idea, I'd like to add that info to this project's README and submit a PR: would that be ok?

[2018-05-30 22:52] zhangkun83 commented on #230
It is already documented. Try searching for "python" in the current README. Feel free to make a PR if you find anything that can be improved.

[2018-05-30 22:57] zpencer commented on #229
This should work and sounds like a bug. I'll schedule some time soon to fix this.

[2018-05-31 09:13] zhYou opened #232 "compile generated java source, add jar to dependencies, How can i make it ? supported?"

[2018-05-31 11:32] muzzah commented on #229
I have done some more research into this as I wanted to provide a PR but I noticed a couple of things

The method `addToIdeSources` in Utils only adds the generated debugUnitTest folder if the idea plugin is applied otherwise the model is null and it does not add the directory as a source directory.

Also, even if I add the idea plugin to the project and the debugUnitTest generated sources are add

[2018-05-31 16:21] zhangkun83 commented on #232
Yes that is basically what this plugin does. Did you take a look at `exampleProject` under the repository root?

[2018-05-31 16:41] zpencer commented on #229
Right, `addToIdeaSources` only runs if the `idea` plugin is available, because it is the `idea` plugin that generates the iml files. Android Studio is built on top of intellij so I think this behavior is fine.

What happens if you apply the `idea` plugin to your project's `build.gradle`, delete the iml file, and run `./gradlew idea`? Does the generated iml file contain the `debugUnitTest` source s

[2018-05-31 18:46] jhawk28 commented on #227
confirmed on 0.8.5

[2018-05-31 18:46] #227 closed

[2018-06-01 06:34] muzzah commented on #229
Yeah I tried doing that but it seems Android studio does not like that. It needs to generate the iml files itself by importing the project. I also tried adding an idea module definition in the `build.gradle` file to specify the directory to add as a `testSourceDirectory` but that also did not have an impact.

I do think Android studio is doing some magic in the background that is different from a

[2018-06-01 15:50] zpencer commented on #229
We have limited experience with Android, so we don't have much more data
than the unit tests. I'd like to dig into how Android Studio interacts with
the protobuf plugin. Would it be possible for you to share a simple project
that reproduces this problem?

On Thu, May 31, 2018 at 11:34 PM Muzzah <notifications@github.com> wrote:

--
Spencer Fang

[2018-06-01 16:09] zpencer commented on #229
This may be the correct way to add source folders to Android studio:
https://stackoverflow.com/questions/18947314/how-to-add-a-linked-source-folder-in-android-studio

If it works, then the protobuf plugin should be using the same way to set it up for the Android plugin, rather than idea plugin.

[2018-06-01 22:33] zpencer commented on #229
I'd also like to confirm that `./gradlew build` works at all for you when you use protos added to local unit tests.

[2018-06-04 22:25] zpencer commented on #229
Thanks for verifying. The reproduction test case is no longer needed.

Do you happen to know whether there's a gradle task that generates the Android studio .iml files? That would allow us to add a unit test. So far I have been validating the behavior by handl

[2018-06-06 01:36] zpencer commented on #222
Right, the only reason they are not marked as generated is because that API is unstable. Out of curiosity, is this causing any issues for your IDE workflow?

[2018-06-06 04:17] zpencer commented on #180
The plugin allows people to specify an output dir that is outside of `build` though. For example, the plugin can be configured to output the code to `src/generated/main` to be checked in to the repo, and for that case deleting the base dir can be dangerous. It sounds like overriding the default `build` directory output with a custom `generatedFilesBaseDir` may interfere with gradle's output tracki

[2018-06-06 17:52] trevjonez commented on #224
I want to add a note here that when android studio syncs it runs gradle to get a model of the project via the tooling api's and then it try's to invoke the external native build directly to do indexing for the IDE. If your external native build depends on the generated output of this plugin being in place, android studio will fail to sync until you run the generation tasks from the CLI.  The way s

[2018-06-06 18:12] trevjonez opened #236 "Android project detection is done in an unsafe way leading to mixed projects not working correctly."
assume the following multi module gradle project:
[code]

Because of the way that [`Utils.isAndroidProject`](https://github.com/google/protobuf-gradle-plugin/blob/master/src/main/groovy/com/google/protobuf/gradle/Utils.groovy#L64) works you will actually get a false positive when checked in this type of project. I don't myself know the details of why and how but the plugin indeed behaves incorrect

[2018-06-06 23:27] zpencer commented on #228
I took a stab at this: https://github.com/zpencer/protobuf-gradle-plugin/tree/make-tasks-cacheable

It looks like Gradle thinks there are overlapping output directories, but I can not find anything in the code that suggests multiple tasks are sharing the same output dirs:

[code]

[2018-06-06 23:29] zpencer commented on #226
This looks resolved, please re-open if you still need help.

[2018-06-06 23:29] #226 closed

[2018-06-07 00:28] zpencer commented on #219
PRs are very welcome :) If minor non API breaking changes here makes it easier for for the kotlin DSL then I'm all for it.

[2018-06-07 13:20] dcabasson commented on #228
Hey @zpencer and thanks for picking that up. I am trying to reproduce your issue - I am assuming you are using your _testProject protobuf tasks should be cacheable (java-only project)_ test to assess that.

First hurdle was that I had to run a *gradlew createClasspathManifest* to have the right file generated. The error message hinted at running testClasses but that didn't generate the file for me

[2018-06-07 15:00] dcabasson commented on #228
Ok, the issue is that you are manually creating the folders while Gradle is calculting the cache key. By the time gradle makes it decision to rerun the task or not, the folders have been created and Gradle decides to just rerun everything because the folders magically appeared.

I have put together a PR for you : https://github.com/zpencer/protobuf-gradle-plugin/pull/1

It seems to work in Gradle

[2018-06-07 15:08] dcabasson commented on #228
You will also have to look into the relocation issue - most of your dir paths are absolute, but the cache should still be matched even if the folder moves around. We are using CI and the folder is a randomly generated one that will change with every build, but the cache should still be hit.

[2018-06-07 16:53] zpencer commented on #228
Thank you so much for the helping debug the issue :)

Regarding relocatability, from reading [this](https://guides.gradle.org/using-build-cache/#relocatability) it looks like it is a concept that applies to task inputs. So for the purposes of this plugin, there are really only two types of tasks with file inputs. What I think we need are:
- `ProtobufExtract` copies protos from .proto files and arc

[2018-06-07 18:08] zpencer commented on #228
You're right, I was hoping to avoid having to audit and annotate all the input objects, some of which require use of `@Nested`. But to work properly with relocation there's probably no way around it.

[2018-06-08 18:22] muzzah commented on #229
Not that I am aware of but ill look into it

[2018-06-11 22:11] zpencer commented on #228
I updated the branch to annotate the existing input objects rather than using the final commands. One question about the `PathSensitivity.RELATIVE`, where is it relative to? Is the root dir `project.buildDir`?

[2018-06-12 15:39] zpencer commented on #232
The examples seem sufficient to show how to do this. Please reopen if still a problem.

[2018-06-12 15:39] #232 closed

[2018-06-14 23:23] albertRCell opened #240 "BuildType is added to the output path"
I have an Android project and I set up this plugin with this config.

[code]

for some reason the output files are not going to `src/main/java` but `src/{buildType}/java` so for example if I build the debug type the output file is `src/debug/java`. How can I make the output path always be `src/main/java`?

[2018-06-18 16:46] mkobit commented on #219
* Is there any API leeway from not being 1.0 yet?
* For API breaking changes, are you mostly concerned with consumers in build scripts or are you concerned with users who have compiled/built tools on top of this plugin (like possibly Android)?
* Also, are `test*` project directories enough to verify this change?

Hoping to understand the scope before I take a crack at this.

[2018-06-18 21:14] zpencer commented on #219
* Even though the plugin is not 1.0, there are users relying on the plugin to build their projects so we should not break them.
* I'm mostly concerned about existing build scripts
* The `test*` projects are enough to ensure the code gen outputs are visible to the targets. I would have to compare the specific changes with the projects to see if there is coverage.

[2018-06-19 14:42] etishka opened #241 "python classes generation - create a package"
please add an option to create a package out of the generated python files

[2018-06-19 16:34] zpencer commented on #241
Are you using gradle to build your python projects? An example project setup would be helpful.

[2018-06-23 13:54] dmdashenkov opened #242 "Support For `implementation` Dependency Configuration"
As the `README` [says](https://github.com/google/protobuf-gradle-plugin/tree/master#protos-in-dependencies), it's required to use `compile` dependency configuration in order to link `.proto` dependencies. However, the configuration is [deprecated](https://docs.gradle.org/current/userguide/java_plugin.html#sec:java_plugin_and_dependency_management) now.

Could we expect support for the `implementat

[2018-06-25 12:35] sunquan1985 opened #243 "different buildtype different output location"
when i assembleDebug in android studio
the output protobuf file generated in src/main/java
while i assembleRelease
the output protobuf file generated in src/main/java/release/javanano
how they can be the same? thanks.

my config is:
`protobuf {

    //https://github.com/google/protobuf-gradle-plugin
    protoc {
        artifact = 'com.google.protobuf:protoc:3.1.0'
    }
    generateProtoTasks {

[2018-06-25 15:27] #236 closed, assigned to nobody

[2018-06-25 15:50] zpencer commented on #242
In our tests, I verified that changing `compile` to `api` or `implementation` still works.

I did notice that things like `protobuf files("lib/protos.tar.gz")` may cause problems in the new version of gradle. It allows users to add proto files directly into the configuration, and I suspect it just has the equivalent behavior of `api`. If so, we need a way to let people add proto files without expo

[2018-06-25 16:28] dmdashenkov commented on #242
Thanks for the answer, @zpencer. Could you please link the test so I can compare it to my config and find out why does it work for you, but not for me?

[2018-06-25 16:32] zhangkun83 commented on #243
`src/main/java/release/javanano` is the expected location.
Have you tried a clean build?

[2018-06-25 16:36] zhangkun83 commented on #243
Because of your `generatedFilesBaseDir` setting, the protobuf generated files will all be under `src/main/java`. And because it's not under `build`, a "clean" build may not work properly.

Can you delete all generated files manually and try building again?

[2018-06-25 16:46] #229 closed

[2018-06-25 17:06] zhangkun83 commented on #242
@zpencer Sounds like we need something like "implementationProtobuf" and "apiProtobuf".

[2018-06-25 17:20] zpencer commented on #242
@dmdashenkov try changing https://github.com/google/protobuf-gradle-plugin/blob/master/testProjectDependent/build.gradle#L16 to say `implementation project(':testProject')` and run this test `"testProjectDependent should be successfully executed"` for gradle 4.3. This works.

In my earlier statement I was actually modifying the wrong file, my mistake. When I change it to `api` here I am getting a

[2018-06-25 18:51] jmiecz opened #244 "[Android] Program type already present: com.google.protobuf.ByteOutput"
Hello,

I am trying to setup an Android project to use the Protobuf Plugin but when I add the below lib, I get the below error. When I remove the dependency, it seems to compile.
`compile 'com.google.protobuf:protobuf-lite:3.0.0'`

[code]